doc/.venv
doc/build
*.ini
.idea
waarp_gatewayd_test.db
*.goconvey
*.iml
build/
.vagrant
pkg/admin/gui/front_end/javaScript/LICENSE
pkg/admin/gui/front_end/javaScript/README.md
.DS_Store
.claude
CLAUDE.md
