{{ define "addPasswordType" }}
<div id="addPasswordType" class="CredentialPartnerBlock" style="display:none;">
    <hr class="mt-2" style="border-top: 1px solid #ababab;">
    <div class="form-input">
        <label class="col-form-label">Valeur 1 :</label>
        <div class="input-group">
            <input type="password" id="addCredentialPartnerValue" name="addCredentialPartnerValue" class="form-control">
            <button class="btn btn-outline-secondary eye-button" type="button" onclick="eyePassword('addCredentialPartnerValue', this)"><i class="far fa-eye-slash"></i></button>
        </div>
    </div>
</div>
{{ end }}

{{ define "addFileType" }}
<div id="addFileType" class="CredentialPartnerBlock" style="display:none;">
    <hr class="mt-2" style="border-top: 1px solid #ababab;">
    <div class="form-input">
        <label class="col-form-label">Valeur 1 :</label>
        <input type="file" name="addCredentialPartnerFile" class="form-control">
        <input type="hidden" id="addCredentialPartnerValueFile" name="addCredentialPartnerValueFile">
    </div>
</div>
{{ end }}


{{ define "editPasswordType" }}
<div id="editPasswordType_{{ .ID }}" class="CredentialPartnerBlock" style="display:none;">
    <hr class="mt-2" style="border-top: 1px solid #ababab;">
    <div class="form-input">
        <label class="col-form-label">Valeur 1 :</label>
        <div class="input-group">
            <input type="password" id="editCredentialPartnerValue" name="editCredentialPartnerValue" class="form-control">
            <button class="btn btn-outline-secondary eye-button" type="button" onclick="eyePassword('editCredentialPartnerValue', this)"><i class="far fa-eye-slash"></i></button>
        </div>
    </div>
</div>
{{ end }}

{{ define "editFileType" }}
<div id="editFileType_{{ .ID }}" class="CredentialPartnerBlock" style="display:none;">
    <hr class="mt-2" style="border-top: 1px solid #ababab;">
    <div class="form-input">
        <label class="col-form-label">Valeur 1 :</label>
        <input type="file" name="editCredentialPartnerFile" class="form-control">
        <input type="hidden" id="editCredentialPartnerValueFile" name="editCredentialPartnerValueFile">
    </div>
</div>
{{ end }}