{{ define "head" }}
    <title>{{ index .tab "title" }}</title>
{{ end }}

{{ define "content" }}
    <div class="d-flex align-items-center justify-content-between">
        <h2 class="mb-0">{{ index .tab "title" }} : {{ .partner.Name }}</h2>
        <button class="btn btn-outline-secondary ms-3 back-btn" type="button" onclick="window.location='remote_account_management?partnerID={{ .partner.ID }}'">
            <i class="bi bi-arrow-left"></i>
        </button>
    </div>
    <hr class="mt-2 mb-4" style="border-top: 1px solid #ababab;">
{{ end }}

{{ define "account_authentication_page" }}
  {{ template "index" . }}
{{ end }}