{{ define "addTaskCOPY" }}
<div id="taskCOPY" class="taskBlock" style="display:none;">
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input">
        <label class="col-form-label">{{ index .tab "path" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipDestinationPath" }}"></i> :</label>
        <input type="text" name="pathCopy" class="form-control">
    </div>
</div>
{{ end }}

{{ define "addTaskCOPYRENAME" }}
<div id="taskCOPYRENAME" class="taskBlock" style="display:none;">
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input">
        <label class="col-form-label">{{ index .tab "path" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipDestinationPath" }}"></i> :</label>
        <input type="text" name="pathCopyRename" class="form-control">
    </div>
</div>
{{ end }}

{{ define "addTaskDelete" }}
{{ end }}

{{ define "addTaskEXEC" }}
<div id="taskEXEC" class="taskBlock" style="display:none;">
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input">
        <label class="col-form-label">{{ index .tab "path" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipExecutedPath" }}"></i> :</label>
        <input type="text" name="pathExec" class="form-control">
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input">
        <label class="col-form-label">{{ index .tab "args" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipArgs" }}"></i> :</label>
        <input type="text" name="argsExec" class="form-control">
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input">
        <label class="col-form-label">{{ index .tab "delay" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipDelay" }}"></i> :</label>
        <input type="text" name="delayExec" class="form-control">
    </div>
</div>
{{ end }}

{{ define "addTaskEXECMOVE" }}
<div id="taskEXECMOVE" class="taskBlock" style="display:none;">
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input">
        <label class="col-form-label">{{ index .tab "path" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipExecutedPath" }}"></i> :</label>
        <input type="text" name="pathExecMove" class="form-control">
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input">
        <label class="col-form-label">{{ index .tab "args" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipArgs" }}"></i> :</label>
        <input type="text" name="argsExecMove" class="form-control">
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input">
        <label class="col-form-label">{{ index .tab "delay" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipDelay" }}"></i> :</label>
        <input type="text" name="delayExecMove" class="form-control">
    </div>
</div>
{{ end }}

{{ define "addTaskEXECOUTPUT" }}
<div id="taskEXECOUTPUT" class="taskBlock" style="display:none;">
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input">
        <label class="col-form-label">{{ index .tab "path" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipExecutedPath" }}"></i> :</label>
        <input type="text" name="pathExecOutput" class="form-control">
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input">
        <label class="col-form-label">{{ index .tab "args" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipArgs" }}"></i> :</label>
        <input type="text" name="argsExecOutput" class="form-control">
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input">
        <label class="col-form-label">{{ index .tab "delay" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipDelay" }}"></i> :</label>
        <input type="text" name="delayExecOutput" class="form-control">
    </div>
</div>
{{ end }}

{{ define "addTaskMOVE" }}
<div id="taskMOVE" class="taskBlock" style="display:none;">
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input">
        <label class="col-form-label">{{ index .tab "path" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipDestinationPath" }}"></i> :</label>
        <input type="text" name="pathMove" class="form-control">
    </div>
</div>
{{ end }}

{{ define "addTaskMOVERENAME" }}
<div id="taskMOVERENAME" class="taskBlock" style="display:none;">
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input">
        <label class="col-form-label">{{ index .tab "path" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipNewPath" }}"></i> :</label>
        <input type="text" name="pathMoveRename" class="form-control">
    </div>
</div>
{{ end }}

{{ define "addTaskRENAME" }}
<div id="taskRENAME" class="taskBlock" style="display:none;">
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input">
        <label class="col-form-label">{{ index .tab "path" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipNewFilePath" }}"></i> :</label>
        <input type="text" name="pathRename" class="form-control">
    </div>
</div>
{{ end }}

{{ define "addTaskTRANSFER" }}
<div id="taskTRANSFER" class="taskBlock" style="display:none;">
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input">
        <label class="col-form-label">{{ index .tab "file" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipFile" }}"></i> :</label>
        <input type="text" name="fileTransfer" class="form-control">
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input">
        <label class="col-form-label">{{ index .tab "using" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipUsing" }}"></i> :</label>
        <input type="text" name="usingTransfer" class="form-control">
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input">
        <label class="col-form-label">{{ index .tab "to" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipTo" }}"></i> :</label>
        <input type="text" name="toTransfer" class="form-control">
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input">
        <label class="col-form-label">{{ index .tab "as" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipAs" }}"></i> :</label>
        <input type="text" name="asTransfer" class="form-control">
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input">
        <label class="col-form-label">{{ index .tab "rule" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipRule" }}"></i> :</label>
        <input type="text" name="ruleTransfer" class="form-control">
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input d-flex align-items-center">
        <label class="col-form-label me-3">{{ index .tab "copyInfo" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipCopyInfo" }}"></i> :</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="copyInfoTransfer" id="copyInfoTransfer" value="true">
        </div>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input">
        <label class="col-form-label">{{ index .tab "info" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipInfo" }}"></i> :</label>
        <div id="infoTransferContainer">
            <div class="input-group mb-2">
                <input type="text" name="infoTransferKey[]" class="form-control" placeholder="clé">
                <input type="text" name="infoTransferValue[]" class="form-control" placeholder="valeur">
               <button type="button" class="btn btn-outline-danger btn-sm" onclick="removeField(this)">
                   <i class="bi bi-trash"></i>
                </button>
            </div>
        </div>
        <button type="button"
                class="btn btn-outline-primary btn-sm"
                onclick="addField(this)">
            add
        </button>
    </div>
</div>
{{ end }}

{{ define "addTaskTRANSCODE" }}
<div id="taskTRANSCODE" class="taskBlock" style="display:none;">
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input">
        <label class="col-form-label">{{ index .tab "fromCharset" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipFromCharset" }}"></i> :</label>
        <select name="fromCharsetTranscode" id="fromCharsetTranscode" class="form-select">
            <option value="" disabled selected>{{ index .tab "selectTranscode" }}</option>
            {{ range .TranscodeFormats }}
                <option value="{{ . }}">{{ . }}</option>
            {{ end }}
        </select>
    </div>
    <hr style="border-top: 1px solid #ababab;">
       <div class="form-input">
        <label class="col-form-label">{{ index .tab "toCharset" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipToCharset" }}"></i> :</label>
        <select name="toCharsetTranscode" id="toCharsetTranscode" class="form-select">
            <option value="" disabled selected>{{ index .tab "selectTranscode" }}</option>
            {{ range .TranscodeFormats }}
                <option value="{{ . }}">{{ . }}</option>
            {{ end }}
        </select>
    </div>
</div>
{{ end }}

{{ define "addTaskARCHIVE" }}
<div id="taskARCHIVE" class="taskBlock" style="display:none;">
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input">
        <label class="col-form-label">{{ index .tab "files" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipFiles" }}"></i> :</label>
        <input type="text" name="filesArchive" class="form-control">
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input">
        <label class="col-form-label">{{ index .tab "compressionLevel" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipCompressionLevel" }}"></i> :</label>
        <select name="compressionLevelArchive" id="compressionLevelArchive" class="form-select">
            <option value="" disabled selected>{{ index .tab "selectcompressionLevel" }}</option>
            {{ range .CompressionLevelList }}
                <option value="{{ . }}">{{ . }}</option>
            {{ end }}
        </select>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input">
        <label class="col-form-label">{{ index .tab "outputPath" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipOutputPath" }}"></i> :</label>
        <div class="input-group">
        <input type="text" name="outputPathArchiveName" class="form-control">
        <select name="outputPathArchiveExt" id="outputPathArchiveExt" class="form-select" style="max-width: 20%;">
            <option value="" disabled selected>{{ index .tab "extensions" }}</option>
            {{ range .ArchiveExtensions }}
                <option value="{{ . }}">{{ . }}</option>
            {{ end }}
        </select>
        </div>
    </div>
</div>
{{ end }}

{{ define "addTaskEXTRACT" }}
<div id="taskEXTRACT" class="taskBlock" style="display:none;">
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input">
         <label class="col-form-label">{{ index .tab "archive" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipArchive" }}"></i> :</label>
        <div class="input-group">
        <input type="text" name="archiveExtractName" class="form-control">
        <select name="archiveExtractExt" id="archiveExtractExt" class="form-select" style="max-width: 20%;">
            <option value="" disabled selected>{{ index .tab "extensions" }}</option>
            {{ range .ArchiveExtensions }}
                <option value="{{ . }}">{{ . }}</option>
            {{ end }}
        </select>
        </div>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input">
        <label class="col-form-label">{{ index .tab "outputDir" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipOutputDir" }}"></i> :</label>
        <input type="text" name="outputDirExtract" class="form-control">
    </div>
</div>
{{ end}}

{{ define "addTaskICAP" }}
<div id="taskICAP" class="taskBlock" style="display:none;">
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input">
        <label class="col-form-label">{{ index .tab "uploadURL" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipUploadURL" }}"></i> :</label>
        <input type="text" name="uploadURLIcap" class="form-control">
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input d-flex align-items-center">
        <label class="col-form-label me-3">{{ index .tab "timeout" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipTimeout" }}"></i> :</label>
        <div class="input-group" style="max-width: 60%;">
            <span class="input-group-text">h</span>
            <input type="text" name="timeoutIcapH" class="form-control" placeholder="00">
            <span class="input-group-text">m</span>
            <input type="text" name="timeoutIcapM" class="form-control" placeholder="00">
            <span class="input-group-text">s</span>
            <input type="text" name="timeoutIcapS" class="form-control" placeholder="00">
            <span class="input-group-text">ms</span>
            <input type="text" name="timeoutIcapMS" class="form-control" placeholder="00">
        </div>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input d-flex align-items-center">
        <label class="col-form-label me-3">{{ index .tab "allowFileModifications" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipAllowFileModifications" }}"></i> :</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="allowFileModificationsIcap" id="allowFileModificationsIcap" value="true">
        </div>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input">
        <label class="col-form-label">{{ index .tab "onError" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipOnError" }}"></i> :</label>
        <select name="onErrorIcap" id="onErrorIcap" class="form-select">
            <option value="" disabled selected>{{ index .tab "selectOnError" }}</option>
            {{ range .IcapOnErrorOptions }}
            <option value="{{ . }}">
                {{ if eq . "" }}do nothing{{ else }}{{ . }}{{ end }}
            </option>
            {{ end }}
        </select>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input">
        <label class="col-form-label">{{ index .tab "onErrorMovePath" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipOnErrorMovePath" }}"></i> :</label>
        <input type="text" name="onErrorMovePathIcap" class="form-control">
    </div>
</div>
{{ end}}

{{ define "addTaskENCRYPT" }}
<div id="taskENCRYPT" class="taskBlock" style="display:none;">
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input">
        <label class="col-form-label">{{ index .tab "outputFile" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipOutputFileEncrypt" }}"></i> :</label>
        <input type="text" name="outputFileEncrypt" class="form-control">
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input d-flex align-items-center">
        <label class="col-form-label me-3">{{ index .tab "keepOriginal" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipKeepOriginalEncrypt" }}"></i> :</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="keepOriginalEncrypt" id="keepOriginalEncrypt" value="true">
        </div>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input">
        <label class="col-form-label">{{ index .tab "method" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipMethodEncrypt" }}"></i> :</label>
        <select name="methodEncrypt" id="methodEncrypt" class="form-select">
            <option value="" disabled selected>{{ index .tab "selectMethod" }}</option>
            {{ range .EncryptMethods }}
            <option value="{{ . }}">{{ . }}</option>
            {{ end }}
        </select>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input">
        <label class="col-form-label">{{ index .tab "keyName" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipKeyNameEncrypt" }}"></i> :</label>
        <select id="keyTypeEncrypt" name="keyNameEncrypt" class="form-select">
            <option value="" disabled selected>{{ index .tab "selectKeyType" }}</option>
        </select>
    </div>
</div>
{{ end}}

{{ define "addTaskDECRYPT" }}
<div id="taskDECRYPT" class="taskBlock" style="display:none;">
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input">
        <label class="col-form-label">{{ index .tab "outputFile" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipOutputFileDecrypt" }}"></i> :</label>
        <input type="text" name="outputFileDecrypt" class="form-control">
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input d-flex align-items-center">
        <label class="col-form-label me-3">{{ index .tab "keepOriginal" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipKeepOriginalDecrypt" }}"></i> :</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="keepOriginalDecrypt" id="keepOriginalDecrypt" value="true">
        </div>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input">
        <label class="col-form-label">{{ index .tab "method" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipMethodDecrypt" }}"></i> :</label>
        <select name="methodDecrypt" id="methodDecrypt" class="form-select">
            <option value="" disabled selected>{{ index .tab "selectMethod" }}</option>
            {{ range .DecryptMethods }}
            <option value="{{ . }}">{{ . }}</option>
            {{ end }}
        </select>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input">
        <label class="col-form-label">{{ index .tab "keyName" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipKeyNameDecrypt" }}"></i> :</label>
        <select id="keyTypeDecrypt" name="keyNameDecrypt" class="form-select">
            <option value="" disabled selected>{{ index .tab "selectKeyType" }}</option>
        </select>
    </div>
</div>
{{ end}}

{{ define "addTaskSIGN" }}
<div id="taskSIGN" class="taskBlock" style="display:none;">
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input">
        <label class="col-form-label">{{ index .tab "outputFile" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipOutputFileSign" }}"></i> :</label>
        <input type="text" name="outputFileSign" class="form-control">
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input">
        <label class="col-form-label">{{ index .tab "method" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipMethodSign" }}"></i> :</label>
        <select name="methodSign" id="methodSign" class="form-select">
            <option value="" disabled selected>{{ index .tab "selectMethodSign" }}</option>
            {{ range .SignMethods }}
            <option value="{{ . }}">{{ . }}</option>
            {{ end }}
        </select>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input">
        <label class="col-form-label">{{ index .tab "keyName" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipKeyNameSign" }}"></i> :</label>
        <select id="keyTypeSign" name="keyNameSign" class="form-select">
            <option value="" disabled selected>{{ index .tab "selectKeyType" }}</option>
        </select>
    </div>
</div>
{{ end}}

{{ define "addTaskVERIFY" }}
<div id="taskVERIFY" class="taskBlock" style="display:none;">
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input">
        <label class="col-form-label">{{ index .tab "signatureFile" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipSignatureFile" }}"></i> :</label>
        <input type="text" name="signatureFileVerify" class="form-control">
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input">
        <label class="col-form-label">{{ index .tab "method" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipMethodVerify" }}"></i> :</label>
        <select name="methodVerify" id="methodVerify" class="form-select">
            <option value="" disabled selected>{{ index .tab "selectMethodVerify" }}</option>
            {{ range .VerifyMethods }}
            <option value="{{ . }}">{{ . }}</option>
            {{ end }}
        </select>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input">
        <label class="col-form-label">{{ index .tab "keyName" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipKeyNameVerify" }}"></i> :</label>
        <select id="keyTypeVerify" name="keyNameVerify" class="form-select">
            <option value="" disabled selected>{{ index .tab "selectKeyType" }}</option>
        </select>
    </div>
</div>
{{ end}}

{{ define "addTaskENCRYPT&SIGN" }}
<div id="taskENCRYPT&SIGN" class="taskBlock" style="display:none;">
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input">
        <label class="col-form-label">{{ index .tab "outputFile" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipOutputFileEncrypt" }}"></i> :</label>
        <input type="text" name="outputFileEncrypt&Sign" class="form-control">
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input d-flex align-items-center">
        <label class="col-form-label me-3">{{ index .tab "keepOriginal" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipKeepOriginalEncrypt" }}"></i> :</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="keepOriginalEncrypt&Sign" id="keepOriginalEncrypt&Sign" value="true">
        </div>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input">
        <label class="col-form-label">{{ index .tab "method" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipMethodEncrypt&Sign" }}"></i> :</label>
        <select name="methodEncrypt&Sign" id="methodEncryptSign" class="form-select">
            <option value="" disabled selected>{{ index .tab "selectMethodEncrypt&Sign" }}</option>
            {{ range .EncryptSignMethods }}
            <option value="{{ . }}">{{ . }}</option>
            {{ end }}
        </select>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input">
        <label class="col-form-label">{{ index .tab "encryptKeyName" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipEncryptKeyName" }}"></i> :</label>
        <select id="keyTypeEncryptSignEncrypt" name="encryptKeyNameEncrypt&Sign" class="form-select">
            <option value="" disabled selected>{{ index .tab "selectKeyType" }}</option>
        </select>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input">
        <label class="col-form-label">{{ index .tab "signKeyName" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipSignKeyNameEncrypt&Sign" }}"></i> :</label>
        <select id="keyTypeEncryptSignSign" name="signKeyNameEncrypt&Sign" class="form-select">
            <option value="" disabled selected>{{ index .tab "selectKeyType" }}</option>
        </select>
    </div>
</div>
{{ end}}

{{ define "addTaskDECRYPT&VERIFY" }}
<div id="taskDECRYPT&VERIFY" class="taskBlock" style="display:none;">
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input">
        <label class="col-form-label">{{ index .tab "outputFile" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipOutputFileDecrypt" }}"></i> :</label>
        <input type="text" name="outputFileDecrypt&verify" class="form-control">
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input d-flex align-items-center">
        <label class="col-form-label me-3">{{ index .tab "keepOriginal" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipKeepOriginalDecrypt" }}"></i> :</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="keepOriginalDecrypt&verify" id="keepOriginalDecrypt&verify" value="true">
        </div>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input">
        <label class="col-form-label">{{ index .tab "method" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipMethodDecrypt&verify" }}"></i> :</label>
        <select name="methodDecrypt&verify" id="methodDecryptVerify" class="form-select">
            <option value="" disabled selected>{{ index .tab "selectMethodDecrypt&verify" }}</option>
            {{ range .DecryptVerifyMethods }}
            <option value="{{ . }}">{{ . }}</option>
            {{ end }}
        </select>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input">
    <label class="col-form-label">{{ index .tab "decryptKeyName" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipDecryptKeyName" }}"></i> :</label>
    <select id="keyTypeDecryptVerifyDecrypt" name="decryptKeyNameDecrypt&verify" class="form-select">
        <option value="" disabled selected>{{ index .tab "selectKeyType" }}</option>
    </select>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input">
        <label class="col-form-label">{{ index .tab "verifyKeyName" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipVerifyKeyName" }}"></i> :</label>
        <select id="keyTypeDecryptVerifyVerify" name="verifyKeyNameDecrypt&verify" class="form-select">
            <option value="" disabled selected>{{ index .tab "selectKeyType" }}</option>
        </select>
    </div>
</div>
{{ end}}