{{ define "displayR66Partner" }}
<div>
    <div class="flex-label-input mt-2">
        <label class="col-form-label label-light-bold me-3">{{ index .tab "serverLogin" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipServerLogin" }}"></i> :</label>
        <input type="text" class="form-control-plaintext input-auto-width" value="{{ displayOrDefault .ProtoConfig.serverLogin (index $.tab "undefined") }}" disabled>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="flex-label-input mt-4">
        <label class="col-form-label label-light-bold me-3">{{ index .tab "blockSize" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipBlockSize" }}"></i> :</label>
        <input type="text" class="form-control-plaintext input-auto-width" value="{{ displayOrDefault .ProtoConfig.blockSize (index $.tab "undefined") }}" disabled>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="flex-label-input mt-2 align-items-center">
        <label class="col-form-label label-light-bold me-3">{{ index .tab "noFinalHash" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipNoFinalHash" }}"></i> :</label>
        <div class="form-check-inline">
            <input class="form-check-input" type="checkbox" {{ if eq .ProtoConfig.noFinalHash true }}checked{{ end }} disabled>
        </div>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="flex-label-input mt-2 align-items-center">
        <label class="col-form-label label-light-bold me-3">{{ index .tab "checkBlockHash" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipCheckBlockHash" }}"></i> :</label>
        <div class="form-check-inline">
            <input class="form-check-input" type="checkbox" {{ if eq .ProtoConfig.checkBlockHash true }}checked{{ end }} disabled>
        </div>
    </div>
    {{ if eq .Protocol "r66-tls" }}
        <hr style="border-top: 1px solid #ababab;">
        <div class="flex-label-input mt-4">
            <label class="col-form-label label-light-bold me-3">{{ index .tab "minTLSVersion" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipMinFtpsTLSVersion" }}"></i> :</label>
            <input type="text" class="form-control-plaintext input-auto-width" value="{{ displayOrDefault .ProtoConfig.minTLSVersion (index $.tab "undefined") }}" disabled>
        </div>
    {{ end }}
</div>
{{ end }}

{{ define "displayR66Server" }}
<div>
    <div class="flex-label-input mt-2">
        <label class="col-form-label label-light-bold me-3">{{ index .tab "serverLogin" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipServerLogin" }}"></i> :</label>
        <input type="text" class="form-control-plaintext input-auto-width" value="{{ displayOrDefault .ProtoConfig.serverLogin (index $.tab "undefined") }}" disabled>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="flex-label-input mt-4">
        <label class="col-form-label label-light-bold me-3">{{ index .tab "blockSize" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipBlockSize" }}"></i> :</label>
        <input type="text" class="form-control-plaintext input-auto-width" value="{{ displayOrDefault .ProtoConfig.blockSize (index $.tab "undefined") }}" disabled>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="flex-label-input mt-2 align-items-center">
        <label class="col-form-label label-light-bold me-3">{{ index .tab "noFinalHash" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipNoFinalHash" }}"></i> :</label>
        <div class="form-check-inline">
            <input class="form-check-input" type="checkbox" {{ if eq .ProtoConfig.noFinalHash true }}checked{{ end }} disabled>
        </div>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="flex-label-input mt-2 align-items-center">
        <label class="col-form-label label-light-bold me-3">{{ index .tab "checkBlockHash" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipCheckBlockHash" }}"></i> :</label>
        <div class="form-check-inline">
            <input class="form-check-input" type="checkbox" {{ if eq .ProtoConfig.checkBlockHash true }}checked{{ end }} disabled>
        </div>
    </div>
    {{ if eq .Protocol "r66-tls" }}
        <hr style="border-top: 1px solid #ababab;">
        <div class="flex-label-input mt-4">
            <label class="col-form-label label-light-bold me-3">{{ index .tab "minTLSVersion" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipMinFtpsTLSVersion" }}"></i> :</label>
            <input type="text" class="form-control-plaintext input-auto-width" value="{{ displayOrDefault .ProtoConfig.minTLSVersion (index $.tab "undefined") }}" disabled>
        </div>
    {{ end }}
</div>
{{ end }}

{{ define "displayR66Client" }}
<div>
    <div class="flex-label-input mt-4">
        <label class="col-form-label label-light-bold me-3">{{ index .tab "blockSize" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipBlockSize" }}"></i> :</label>
        <input type="text" class="form-control-plaintext input-auto-width" value="{{ displayOrDefault .ProtoConfig.blockSize (index $.tab "undefined") }}" disabled>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="flex-label-input mt-2 align-items-center">
        <label class="col-form-label label-light-bold me-3">{{ index .tab "noFinalHash" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipNoFinalHash" }}"></i> :</label>
        <div class="form-check-inline">
            <input class="form-check-input" type="checkbox" {{ if eq .ProtoConfig.noFinalHash true }}checked{{ end }} disabled>
        </div>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="flex-label-input mt-2 align-items-center">
        <label class="col-form-label label-light-bold me-3">{{ index .tab "checkBlockHash" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipCheckBlockHash" }}"></i> :</label>
        <div class="form-check-inline">
            <input class="form-check-input" type="checkbox" {{ if eq .ProtoConfig.checkBlockHash true }}checked{{ end }} disabled>
        </div>
    </div>
    {{ if eq .Protocol "r66-tls" }}
        <hr style="border-top: 1px solid #ababab;">
        <div class="flex-label-input mt-4">
            <label class="col-form-label label-light-bold me-3">{{ index .tab "minTLSVersion" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipMinFtpsTLSVersion" }}"></i> :</label>
            <input type="text" class="form-control-plaintext input-auto-width" value="{{ displayOrDefault .ProtoConfig.minTLSVersion (index $.tab "undefined") }}" disabled>
        </div>
    {{ end }}
</div>
{{ end }}

{{ define "displayFtpPartner" }}
<div>
    <div class="flex-label-input mt-Z align-items-center">
        <label class="col-form-label label-light-bold me-3">{{ index .tab "disableActiveMode" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipDisableActiveMode" }}"></i> :</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" {{ if eq .ProtoConfig.disableActiveMode true }}checked{{ end }} disabled>
        </div>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="flex-label-input mt-2 align-items-center">
        <label class="col-form-label label-light-bold me-3">{{ index .tab "disableEPSV" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipDisableEPSV" }}"></i> :</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" {{ if eq .ProtoConfig.disableEPSV true }}checked{{ end }} disabled>
        </div>
    </div>
    {{ if eq .Protocol "ftps" }}
        <hr style="border-top: 1px solid #ababab;">
        <div class="flex-label-input mt-2 align-items-center">
            <label class="col-form-label label-light-bold me-3">{{ index .tab "useImplicitTLS" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipUseImplicitTLS" }}"></i> :</label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" {{ if eq .ProtoConfig.useImplicitTLS true }}checked{{ end }} disabled>
            </div>
        </div>
        <hr style="border-top: 1px solid #ababab;">
        <div class="flex-label-input mt-4">
            <label class="col-form-label label-light-bold me-3">{{ index .tab "minTLSVersion" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipMinFtpsTLSVersion" }}"></i> :</label>
            <input type="text" class="form-control-plaintext input-auto-width" value="{{ displayOrDefault .ProtoConfig.minTLSVersion (index $.tab "undefined") }}" disabled>
        </div>
        <hr style="border-top: 1px solid #ababab;">
        <div class="flex-label-input mt-2 align-items-center">
            <label class="col-form-label label-light-bold me-3">{{ index .tab "disableTLSSessionReuse" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipDisableTLSSessionReuse" }}"></i> :</label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" {{ if eq .ProtoConfig.disableTLSSessionReuse true }}checked{{ end }} disabled>
            </div>
        </div>
    {{ end }}
</div>
{{ end }}

{{ define "displayFtpServer" }}
<div>
    <div class="flex-label-input mt-Z align-items-center">
        <label class="col-form-label label-light-bold me-3">{{ index .tab "disablePassiveMode" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipDisablePassiveMode" }}"></i> :</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" {{ if eq .ProtoConfig.disablePassiveMode true }}checked{{ end }} disabled>
        </div>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="flex-label-input mt-Z align-items-center">
        <label class="col-form-label label-light-bold me-3">{{ index .tab "disableActiveMode" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipDisableActiveMode" }}"></i> :</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" {{ if eq .ProtoConfig.disableActiveMode true }}checked{{ end }} disabled>
        </div>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="flex-label-input mt-4">
        <label class="col-form-label label-light-bold me-3">{{ index .tab "passiveModeMinPort" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipPassiveModeMinPort" }}"></i> :</label>
        <input type="text" class="form-control-plaintext input-auto-width" value="{{ displayOrDefault .ProtoConfig.passiveModeMinPort (index $.tab "undefined") }}" disabled>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="flex-label-input mt-4">
        <label class="col-form-label label-light-bold me-3">{{ index .tab "passiveModeMaxPort" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipPassiveModeMaxPort" }}"></i> :</label>
        <input type="text" class="form-control-plaintext input-auto-width" value="{{ displayOrDefault .ProtoConfig.passiveModeMaxPort (index $.tab "undefined") }}" disabled>
    </div>
    {{ if eq .Protocol "ftps" }}
        <hr style="border-top: 1px solid #ababab;">
        <div class="flex-label-input mt-4">
            <label class="col-form-label label-light-bold me-3">{{ index .tab "tlsRequirement" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipTlsRequirement" }}"></i> :</label>
            <input type="text" class="form-control-plaintext input-auto-width" value="{{ displayOrDefault .ProtoConfig.tlsRequirement (index $.tab "undefined") }}" disabled>
        </div>
        <hr style="border-top: 1px solid #ababab;">
        <div class="flex-label-input mt-4">
            <label class="col-form-label label-light-bold me-3">{{ index .tab "minTLSVersion" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipMinFtpsTLSVersion" }}"></i> :</label>
            <input type="text" class="form-control-plaintext input-auto-width" value="{{ displayOrDefault .ProtoConfig.minTLSVersion (index $.tab "undefined") }}" disabled>
        </div>
    {{ end }}
</div>
{{ end }}

{{ define "displayFtpClient" }}
<div>
    <div class="flex-label-input mt-Z align-items-center">
        <label class="col-form-label label-light-bold me-3">{{ index .tab "enablePassiveMode" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipEnablePassiveMode" }}"></i> :</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" {{ if eq .ProtoConfig.enablePassiveMode true }}checked{{ end }} disabled>
        </div>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="flex-label-input mt-4">
        <label class="col-form-label label-light-bold me-3">{{ index .tab "activeModeAddress" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipActiveModeAddress" }}"></i> :</label>
        <input type="text" class="form-control-plaintext input-auto-width" value="{{ displayOrDefault .ProtoConfig.activeModeAddress (index $.tab "undefined") }}" disabled>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="flex-label-input mt-4">
        <label class="col-form-label label-light-bold me-3">{{ index .tab "activeModeMinPort" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipActiveModeMinPort" }}"></i> :</label>
        <input type="text" class="form-control-plaintext input-auto-width" value="{{ displayOrDefault .ProtoConfig.activeModeMinPort (index $.tab "undefined") }}" disabled>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="flex-label-input mt-4">
        <label class="col-form-label label-light-bold me-3">{{ index .tab "activeModeMaxPort" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipActiveModeMaxPort" }}"></i> :</label>
        <input type="text" class="form-control-plaintext input-auto-width" value="{{ displayOrDefault .ProtoConfig.activeModeMaxPort (index $.tab "undefined") }}" disabled>
    </div>
    {{ if eq .Protocol "ftps" }}
        <hr style="border-top: 1px solid #ababab;">
        <div class="flex-label-input mt-4">
            <label class="col-form-label label-light-bold me-3">{{ index .tab "minTLSVersion" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipMinFtpsTLSVersion" }}"></i> :</label>
            <input type="text" class="form-control-plaintext input-auto-width" value="{{ displayOrDefault .ProtoConfig.minTLSVersion (index $.tab "undefined") }}" disabled>
        </div>
    {{ end }}
</div>
{{ end }}

{{ define "displayPesitPartner" }}
<div>
    <div class="flex-label-input mt-2">
        <label class="col-form-label label-light-bold me-3">{{ index .tab "login" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipLogin" }}"></i> :</label>
        <input type="text" class="form-control-plaintext input-auto-width" value="{{ displayOrDefault .ProtoConfig.login (index $.tab "undefined") }}" disabled>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="flex-label-input mt-2 align-items-center">
        <label class="col-form-label label-light-bold me-3">{{ index .tab "disableRestart" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipDisableRestart" }}"></i> :</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" {{ if eq .ProtoConfig.disableRestart true }}checked{{ end }} disabled>
        </div>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="flex-label-input mt-2 align-items-center">
        <label class="col-form-label label-light-bold me-3">{{ index .tab "disableCheckpoints" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipDisableCheckpoints" }}"></i> :</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" {{ if eq .ProtoConfig.disableCheckpoints true }}checked{{ end }} disabled>
        </div>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="flex-label-input mt-2">
        <label class="col-form-label label-light-bold me-3">{{ index .tab "checkpointSize" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipCheckpointSize" }}"></i> :</label>
        <input type="text" class="form-control-plaintext input-auto-width" value="{{ displayOrDefault .ProtoConfig.checkpointSize (index $.tab "undefined") }}" disabled>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="flex-label-input mt-2">
        <label class="col-form-label label-light-bold me-3">{{ index .tab "checkpointWindow" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipCheckpointWindow" }}"></i> :</label>
        <input type="text" class="form-control-plaintext input-auto-width" value="{{ displayOrDefault .ProtoConfig.checkpointWindow (index $.tab "undefined") }}" disabled>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="flex-label-input mt-2 align-items-center">
        <label class="col-form-label label-light-bold me-3">{{ index .tab "useNSD" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipUseNSDU" }}"></i> :</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" {{ if eq .ProtoConfig.useNSDU true }}checked{{ end }} disabled>
        </div>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="flex-label-input mt-2">
        <label class="col-form-label label-light-bold me-3">{{ index .tab "compatibilityMode" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipCompatibilityMode" }}"></i> :</label>
        <input type="text" class="form-control-plaintext input-auto-width" value='{{ if eq .ProtoConfig.compatibilityMode "standard" }}{{ index $.tab "standardParameterPesit" }}{{ else if eq .ProtoConfig.compatibilityMode "non-standard" }}{{ index $.tab "noneStandardParameterPesit" }}{{ else }}{{ displayOrDefault .ProtoConfig.compatibilityMode (index $.tab "undefined") }}{{ end }}' disabled>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="flex-label-input mt-2">
        <label class="col-form-label label-light-bold me-3">{{ index .tab "maxMessageSize" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipMaxMessageSize" }}"></i> :</label>
        <input type="text" class="form-control-plaintext input-auto-width" value="{{ displayOrDefault .ProtoConfig.maxMessageSize (index $.tab "undefined") }}" disabled>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="flex-label-input mt-2 align-items-center">
        <label class="col-form-label label-light-bold me-3">{{ index .tab "disablePreConnection" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipDisablePreConnection" }}"></i> :</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" {{ if eq .ProtoConfig.disablePreConnection true }}checked{{ end }} disabled>
        </div>
    </div>
    {{ if eq .Protocol "pesit-tls" }}
        <hr style="border-top: 1px solid #ababab;">
        <div class="flex-label-input mt-4">
            <label class="col-form-label label-light-bold me-3">{{ index .tab "minTLSVersion" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipMinPesitTLSVersion" }}"></i> :</label>
            <input type="text" class="form-control-plaintext input-auto-width" value="{{ displayOrDefault .ProtoConfig.minTLSVersion (index $.tab "undefined") }}" disabled>
        </div>
    {{ end }}
</div>
{{ end }}

{{ define "displayPesitServer" }}
<div>
    <div class="flex-label-input mt-2 align-items-center">
        <label class="col-form-label label-light-bold me-3">{{ index .tab "disableRestart" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipDisableRestart" }}"></i> :</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" {{ if eq .ProtoConfig.disableRestart true }}checked{{ end }} disabled>
        </div>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="flex-label-input mt-2 align-items-center">
        <label class="col-form-label label-light-bold me-3">{{ index .tab "disableCheckpoints" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipDisableCheckpoints" }}"></i> :</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" {{ if eq .ProtoConfig.disableCheckpoints true }}checked{{ end }} disabled>
        </div>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="flex-label-input mt-2">
        <label class="col-form-label label-light-bold me-3">{{ index .tab "checkpointSize" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipCheckpointSize" }}"></i> :</label>
        <input type="text" class="form-control-plaintext input-auto-width" value="{{ displayOrDefault .ProtoConfig.checkpointSize (index $.tab "undefined") }}" disabled>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="flex-label-input mt-2">
        <label class="col-form-label label-light-bold me-3">{{ index .tab "checkpointWindow" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipCheckpointWindow" }}"></i> :</label>
        <input type="text" class="form-control-plaintext input-auto-width" value="{{ displayOrDefault .ProtoConfig.checkpointWindow (index $.tab "undefined") }}" disabled>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="flex-label-input mt-2">
        <label class="col-form-label label-light-bold me-3">{{ index .tab "maxMessageSize" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipMaxMessageSize" }}"></i> :</label>
        <input type="text" class="form-control-plaintext input-auto-width" value="{{ displayOrDefault .ProtoConfig.maxMessageSize (index $.tab "undefined") }}" disabled>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="flex-label-input mt-2">
        <label class="col-form-label label-light-bold me-3">{{ index .tab "compatibilityMode" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipCompatibilityMode" }}"></i> :</label>
        <input type="text" class="form-control-plaintext input-auto-width" value='{{ if eq .ProtoConfig.compatibilityMode "standard" }}{{ index $.tab "standardParameterPesit" }}{{ else if eq .ProtoConfig.compatibilityMode "non-standard" }}{{ index $.tab "noneStandardParameterPesit" }}{{ else }}{{ displayOrDefault .ProtoConfig.compatibilityMode (index $.tab "undefined") }}{{ end }}' disabled>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="flex-label-input mt-2 align-items-center">
        <label class="col-form-label label-light-bold me-3">{{ index .tab "disablePreConnection" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipDisablePreConnection" }}"></i> :</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" {{ if eq .ProtoConfig.disablePreConnection true }}checked{{ end }} disabled>
        </div>
    </div>
    {{ if eq .Protocol "pesit-tls" }}
        <hr style="border-top: 1px solid #ababab;">
        <div class="flex-label-input mt-4">
            <label class="col-form-label label-light-bold me-3">{{ index .tab "minTLSVersion" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipMinPesitTLSVersion" }}"></i> :</label>
            <input type="text" class="form-control-plaintext input-auto-width" value="{{ displayOrDefault .ProtoConfig.minTLSVersion (index $.tab "undefined") }}" disabled>
        </div>
    {{ end }}
</div>
{{ end }}

{{ define "displayPesitClient" }}
<div>
    <div class="flex-label-input mt-2 align-items-center">
        <label class="col-form-label label-light-bold me-3">{{ index .tab "disableRestart" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipDisableRestart" }}"></i> :</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" {{ if eq .ProtoConfig.disableRestart true }}checked{{ end }} disabled>
        </div>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="flex-label-input mt-2 align-items-center">
        <label class="col-form-label label-light-bold me-3">{{ index .tab "disableCheckpoints" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipDisableCheckpoints" }}"></i> :</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" {{ if eq .ProtoConfig.disableCheckpoints true }}checked{{ end }} disabled>
        </div>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="flex-label-input mt-2">
        <label class="col-form-label label-light-bold me-3">{{ index .tab "checkpointSize" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipCheckpointSize" }}"></i> :</label>
        <input type="text" class="form-control-plaintext input-auto-width" value="{{ displayOrDefault .ProtoConfig.checkpointSize (index $.tab "undefined") }}" disabled>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="flex-label-input mt-2">
        <label class="col-form-label label-light-bold me-3">{{ index .tab "checkpointWindow" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipCheckpointWindow" }}"></i> :</label>
        <input type="text" class="form-control-plaintext input-auto-width" value="{{ displayOrDefault .ProtoConfig.checkpointWindow (index $.tab "undefined") }}" disabled>
    </div>
</div>
{{ end }}

{{ define "displaySftpPartner" }}
<div>
    <div class="form-input mt-2">
        <label class="col-form-label label-light-bold"><strong>{{ index .tab "keyExchanges" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipKeyExchanges" }}"></i> :</strong></label>
        <div id="keyExchangesContainer">
        {{ if .ProtoConfig.keyExchanges }}
            {{ range $i, $v := .ProtoConfig.keyExchanges }}
            <div class="input-group mb-2">
                <input type="text" class="form-control-plaintext" value="{{ displayOrDefault $v (index $.tab "undefined") }}" disabled>
            </div>
            {{ end }}
        {{ else }}
            <div class="input-group mb-2">
                <input type="text" class="form-control-plaintext" value="{{ displayOrDefault "" (index $.tab "undefined") }}" disabled>
            </div>
        {{ end }}
        </div>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input mt-2">
        <label class="col-form-label label-light-bold"><strong>{{ index .tab "ciphers" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipCiphers" }}"></i> :</strong></label>
        <div id="ciphersContainer">
        {{ if .ProtoConfig.ciphers }}
            {{ range $i, $v := .ProtoConfig.ciphers }}
            <div class="input-group mb-2">
                <input type="text" class="form-control-plaintext" value="{{ displayOrDefault $v (index $.tab "undefined") }}" disabled>
            </div>
            {{ end }}
        {{ else }}
            <div class="input-group mb-2">
                <input type="text" class="form-control-plaintext" value="{{ displayOrDefault "" (index $.tab "undefined") }}" disabled>
            </div>
        {{ end }}
        </div>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input mt-2">
        <label class="col-form-label label-light-bold"><strong>{{ index .tab "macs" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipMacs" }}"></i> :</strong></label>
        <div id="macsContainer">
        {{ if .ProtoConfig.macs }}
            {{ range $i, $v := .ProtoConfig.macs }}
            <div class="input-group mb-2">
                <input type="text" class="form-control-plaintext" value="{{ displayOrDefault $v (index $.tab "undefined") }}" disabled>
            </div>
            {{ end }}
        {{ else }}
            <div class="input-group mb-2">
                <input type="text" class="form-control-plaintext" value="{{ displayOrDefault "" (index $.tab "undefined") }}" disabled>
            </div>
        {{ end }}
        </div>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input mt-2 d-flex align-items-center">
        <label class="col-form-label label-light-bold me-3">{{ index .tab "useStat" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipUseStat" }}"></i> :</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" {{ if eq .ProtoConfig.useStat true }}checked{{ end }} disabled>
        </div>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input mt-2 d-flex align-items-center">
        <label class="col-form-label label-light-bold me-3">{{ index .tab "disableClientConcurrentReads" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipDisableClientConcurrentReads" }}"></i> :</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" {{ if eq .ProtoConfig.disableClientConcurrentReads true }}checked{{ end }} disabled>
        </div>
    </div>
</div>
{{ end }}

{{ define "displaySftpServer" }}
<div>
    <div class="form-input mt-2">
        <label class="col-form-label label-light-bold"><strong>{{ index .tab "keyExchanges" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipKeyExchanges" }}"></i> :</strong></label>
        <div id="keyExchangesContainer">
        {{ if .ProtoConfig.keyExchanges }}
            {{ range $i, $v := .ProtoConfig.keyExchanges }}
            <div class="input-group mb-2">
                <input type="text" class="form-control-plaintext" value="{{ displayOrDefault $v (index $.tab "undefined") }}" disabled>
            </div>
            {{ end }}
        {{ else }}
            <div class="input-group mb-2">
                <input type="text" class="form-control-plaintext" value="{{ displayOrDefault "" (index $.tab "undefined") }}" disabled>
            </div>
        {{ end }}
        </div>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input mt-2">
        <label class="col-form-label label-light-bold"><strong>{{ index .tab "ciphers" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipCiphers" }}"></i> :</strong></label>
        <div id="ciphersContainer">
        {{ if .ProtoConfig.ciphers }}
            {{ range $i, $v := .ProtoConfig.ciphers }}
            <div class="input-group mb-2">
                <input type="text" class="form-control-plaintext" value="{{ displayOrDefault $v (index $.tab "undefined") }}" disabled>
            </div>
            {{ end }}
        {{ else }}
            <div class="input-group mb-2">
                <input type="text" class="form-control-plaintext" value="{{ displayOrDefault "" (index $.tab "undefined") }}" disabled>
            </div>
        {{ end }}
        </div>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input mt-2">
        <label class="col-form-label label-light-bold"><strong>{{ index .tab "macs" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipMacs" }}"></i> :</strong></label>
        <div id="macsContainer">
        {{ if .ProtoConfig.macs }}
            {{ range $i, $v := .ProtoConfig.macs }}
            <div class="input-group mb-2">
                <input type="text" class="form-control-plaintext" value="{{ displayOrDefault $v (index $.tab "undefined") }}" disabled>
            </div>
            {{ end }}
        {{ else }}
            <div class="input-group mb-2">
                <input type="text" class="form-control-plaintext" value="{{ displayOrDefault "" (index $.tab "undefined") }}" disabled>
            </div>
        {{ end }}
        </div>
    </div>
</div>
{{ end }}

{{ define "displaySftpClient" }}
<div>
    <div class="form-input mt-2">
        <label class="col-form-label label-light-bold"><strong>{{ index .tab "keyExchanges" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipKeyExchanges" }}"></i> :</strong></label>
        <div id="keyExchangesContainer">
        {{ if .ProtoConfig.keyExchanges }}
            {{ range $i, $v := .ProtoConfig.keyExchanges }}
            <div class="input-group mb-2">
                <input type="text" class="form-control-plaintext" value="{{ displayOrDefault $v (index $.tab "undefined") }}" disabled>
            </div>
            {{ end }}
        {{ else }}
            <div class="input-group mb-2">
                <input type="text" class="form-control-plaintext" value="{{ displayOrDefault "" (index $.tab "undefined") }}" disabled>
            </div>
        {{ end }}
        </div>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input mt-2">
        <label class="col-form-label label-light-bold"><strong>{{ index .tab "ciphers" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipCiphers" }}"></i> :</strong></label>
        <div id="ciphersContainer">
        {{ if .ProtoConfig.ciphers }}
            {{ range $i, $v := .ProtoConfig.ciphers }}
            <div class="input-group mb-2">
                <input type="text" class="form-control-plaintext" value="{{ displayOrDefault $v (index $.tab "undefined") }}" disabled>
            </div>
            {{ end }}
        {{ else }}
            <div class="input-group mb-2">
                <input type="text" class="form-control-plaintext" value="{{ displayOrDefault "" (index $.tab "undefined") }}" disabled>
            </div>
        {{ end }}
        </div>
    </div>
    <hr style="border-top: 1px solid #ababab;">
    <div class="form-input mt-2">
        <label class="col-form-label label-light-bold"><strong>{{ index .tab "macs" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipMacs" }}"></i> :</strong></label>
        <div id="macsContainer">
        {{ if .ProtoConfig.macs }}
            {{ range $i, $v := .ProtoConfig.macs }}
            <div class="input-group mb-2">
                <input type="text" class="form-control-plaintext" value="{{ displayOrDefault $v (index $.tab "undefined") }}" disabled>
            </div>
            {{ end }}
        {{ else }}
            <div class="input-group mb-2">
                <input type="text" class="form-control-plaintext" value="{{ displayOrDefault "" (index $.tab "undefined") }}" disabled>
            </div>
        {{ end }}
        </div>
    </div>
</div>
{{ end }}

{{ define "displayHttpPartner" }}
    {{ if eq .Protocol "https" }}
        <div class="flex-label-input mt-2">
            <label class="col-form-label label-light-bold me-3">{{ index .tab "minTLSVersion" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipMinFtpsTLSVersion" }}"></i> :</label>
            <input type="text" class="form-control-plaintext input-auto-width" value="{{ displayOrDefault .ProtoConfig.minTLSVersion (index $.tab "undefined") }}" disabled>
        </div>
    {{ end }}
{{ end }}

{{ define "displayHttpServer" }}
    {{ if eq .Protocol "https" }}
        <div class="flex-label-input mt-2">
            <label class="col-form-label label-light-bold me-3">{{ index .tab "minTLSVersion" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipMinFtpsTLSVersion" }}"></i> :</label>
            <input type="text" class="form-control-plaintext input-auto-width" value="{{ displayOrDefault .ProtoConfig.minTLSVersion (index $.tab "undefined") }}" disabled>
        </div>
    {{ end }}
{{ end }}

{{ define "displayHttpClient" }}
    {{ if eq .Protocol "https" }}
        <div class="flex-label-input mt-2">
            <label class="col-form-label label-light-bold me-3">{{ index .tab "minTLSVersion" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipMinFtpsTLSVersion" }}"></i> :</label>
            <input type="text" class="form-control-plaintext input-auto-width" value="{{ displayOrDefault .ProtoConfig.minTLSVersion (index $.tab "undefined") }}" disabled>
        </div>
    {{ end }}
{{ end }}

{{ define "displayWebdavPartner" }}
    {{ if eq .Protocol "webdav-tls" }}
    <div class="flex-label-input mt-2">
        <label class="col-form-label label-light-bold me-3">{{ index .tab "minTLSVersion" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipMinFtpsTLSVersion" }}"></i> :</label>
        <input type="text" class="form-control-plaintext input-auto-width" value="{{ displayOrDefault .ProtoConfig.minTLSVersion (index $.tab "undefined") }}" disabled>
    </div>
    {{ end }}
{{ end }}

{{ define "displayWebdavServer" }}
    {{ if eq .Protocol "webdav-tls" }}
    <div class="flex-label-input mt-2">
        <label class="col-form-label label-light-bold me-3">{{ index .tab "minTLSVersion" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipMinFtpsTLSVersion" }}"></i> :</label>
        <input type="text" class="form-control-plaintext input-auto-width" value="{{ displayOrDefault .ProtoConfig.minTLSVersion (index $.tab "undefined") }}" disabled>
    </div>
    {{ end }}
{{ end }}

{{ define "displayWebdavClient" }}
    {{ if eq .Protocol "webdav-tls" }}
    <div class="flex-label-input mt-2">
        <label class="col-form-label label-light-bold me-3">{{ index .tab "minTLSVersion" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipMinFtpsTLSVersion" }}"></i> :</label>
        <input type="text" class="form-control-plaintext input-auto-width" value="{{ displayOrDefault .ProtoConfig.minTLSVersion (index $.tab "undefined") }}" disabled>
    </div>
    {{ end }}
{{ end }}