{{ define "editR66" }}
<div id="protoConfig_r66" class="protoConfigBlock" style="display:none;">
    <hr class="mt-2" style="border-top: 1px solid #ababab;">
    <div class="mt-4 mb-2 text-start"><strong>{{ index .tab "protocolConfiguration" }} :</strong><i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipProtocolConfiguration" }}"></i></div>
    <div class="form-input mt-4">
        <label class="col-form-label">{{ index .tab "serverLogin" }} :</label><i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipServerLogin" }}"></i>
        <input type="text" name="partnerR66serverLogin" class="form-control" value="{{ .ProtoConfig.serverLogin }}">
    </div>
    <hr class="mt-2 mb-4" style="border-top: 1px solid #ababab;">
    <div class="form-input mt-4">
        <label class="col-form-label">{{ index .tab "blockSize" }} :</label><i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipBlockSize" }}"></i>
        <input type="text" name="partnerR66blockSize" class="form-control" value="{{ .ProtoConfig.blockSize }}">
    </div>
    <hr class="mt-2 mb-4" style="border-top: 1px solid #ababab;">
    <div class="form-input mt-2 d-flex align-items-center">
        <label class="col-form-label me-3">{{ index .tab "noFinalHash" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipNoFinalHash" }}"></i> :</label>
        <div class="form-check-inline">
            <input class="form-check-input" type="checkbox" name="noFinalHash" id="noFinalHash" value="true" {{ if eq .ProtoConfig.noFinalHash true }}checked{{ end }}>
        </div>
    </div>
    <hr class="mt-2 mb-4" style="border-top: 1px solid #ababab;">
    <div class="form-input mt-2 d-flex align-items-center">
        <label class="col-form-label me-3">{{ index .tab "checkBlockHash" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipCheckBlockHash" }}"></i> :</label>
        <div class="form-check-inline">
            <input class="form-check-input" type="checkbox" name="checkBlockHash" id="checkBlockHash" value="true" {{ if eq .ProtoConfig.checkBlockHash true }}checked{{ end }}>
        </div>
    </div>
</div>
{{ end }}

{{ define "editFtp" }}
<div id="protoConfig_ftp" class="protoConfigBlock" style="display:none;">
    <hr class="mt-2" style="border-top: 1px solid #ababab;">
    <div class="mt-4 mb-2 text-start"><strong>{{ index .tab "protocolConfiguration" }} :</strong><i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipProtocolConfiguration" }}"></i></div>
    <div class="form-input mt-4 d-flex align-items-center">
        <label class="col-form-label me-3">{{ index .tab "disableActiveMode" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipDisableActiveMode" }}"></i> :</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="disableActiveMode" id="disableActiveMode" value="true" {{ if eq .ProtoConfig.disableActiveMode true }}checked{{ end }}>
        </div>
    </div>
    <hr class="mt-2 mb-4" style="border-top: 1px solid #ababab;">
    <div class="form-input mt-2 d-flex align-items-center">
        <label class="col-form-label me-3">{{ index .tab "disableEPSV" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipDisableEPSV" }}"></i> :</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="disableEPSV" id="disableEPSV" value="true" {{ if eq .ProtoConfig.disableEPSV true }}checked{{ end }}>
        </div>
    </div>
    <div id="ftpsForm">
        <hr class="mt-2 mb-4" style="border-top: 1px solid #ababab;">
        <div class="form-input mt-2 d-flex align-items-center">
            <label class="col-form-label me-3">{{ index .tab "useImplicitTLS" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipUseImplicitTLS" }}"></i> :</label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="useImplicitTLS" id="useImplicitTLS" value="true" {{ if eq .ProtoConfig.useImplicitTLS true }}checked{{ end }}>
            </div>
        </div>
        <hr class="mt-2 mb-4" style="border-top: 1px solid #ababab;">
        <div class="form-input mt-4">
            <label class="col-form-label">{{ index .tab "minTLSVersion" }} :</label>
            <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipMinFtpsTLSVersion" }}"></i>
            <select name="partnerFTPSminTLSVersion" class="form-select" required>
                {{ range $.TLSVersions }}
                    <option value="{{ . }}" {{ if eq $.ProtoConfig.minTLSVersion . }}selected{{ end }}>{{ . }}</option>
                {{ end }}
            </select>
        </div>
        <hr class="mt-2 mb-4" style="border-top: 1px solid #ababab;">
        <div class="form-input mt-2 d-flex align-items-center">
            <label class="col-form-label me-3">{{ index .tab "disableTLSSessionReuse" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipDisableTLSSessionReuse" }}"></i> :</label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="disableTLSSessionReuse" id="disableTLSSessionReuse" value="true" {{ if eq .ProtoConfig.disableTLSSessionReuse true }}checked{{ end }}>
            </div>
        </div>
    </div>
</div>
{{ end }}


{{ define "editPesit" }}
<div id="protoConfig_pesit" class="protoConfigBlock" style="display:none;">
    <hr class="mt-2" style="border-top: 1px solid #ababab;">
    <div class="mt-4 mb-2 text-start"><strong>{{ index .tab "protocolConfiguration" }} :</strong><i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipProtocolConfiguration" }}"></i></div>
    <div class="form-input mt-4">
        <label class="col-form-label">{{ index .tab "login" }} :</label><i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipLogin" }}"></i>
        <input type="text" name="partnerPeSITlogin" class="form-control" value="{{ .ProtoConfig.login }}">
    </div>
    <hr class="mt-2 mb-4" style="border-top: 1px solid #ababab;">
    <div class="form-input mt-2 d-flex align-items-center">
        <label class="col-form-label me-3">{{ index .tab "disableRestart" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipDisableRestart" }}"></i> :</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="disableRestart" id="disableRestart" value="true" {{ if eq .ProtoConfig.disableRestart true }}checked{{ end }}>
        </div>
    </div>
    <hr class="mt-2 mb-4" style="border-top: 1px solid #ababab;">
    <div class="form-input mt-2 d-flex align-items-center">
        <label class="col-form-label me-3">{{ index .tab "disableCheckpoints" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipDisableCheckpoints" }}"></i> :</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="disableCheckpoints" id="disableCheckpoints" value="true" {{ if eq .ProtoConfig.disableCheckpoints true }}checked{{ end }}>
        </div>
    </div>
    <hr class="mt-2 mb-4" style="border-top: 1px solid #ababab;">
    <div class="form-input mt-2">
        <label class="col-form-label">{{ index .tab "checkpointSize" }} :</label><i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipCheckpointSize" }}"></i>
        <input type="text" name="partnerPeSITcheckpointSize" class="form-control" value="{{ .ProtoConfig.checkpointSize }}">
    </div>
    <hr class="mt-2 mb-4" style="border-top: 1px solid #ababab;">
    <div class="form-input mt-2">
        <label class="col-form-label">{{ index .tab "checkpointWindow" }} :</label><i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipCheckpointWindow" }}"></i>
        <input type="text" name="partnerPeSITcheckpointWindow" class="form-control" value="{{ .ProtoConfig.checkpointWindow }}">
    </div>
    <hr class="mt-2 mb-4" style="border-top: 1px solid #ababab;">
    <div class="form-input mt-2 d-flex align-items-center">
        <label class="col-form-label me-3">{{ index .tab "useNSD" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipUseNSDU" }}"></i> :</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="useNSDU" id="useNSDU" value="true" {{ if eq .ProtoConfig.useNSDU true }}checked{{ end }}>
        </div>
    </div>
    <hr class="mt-2 mb-4" style="border-top: 1px solid #ababab;">
    <div class="form-input mt-2">
        <label class="col-form-label">{{ index .tab "compatibilityMode" }} :</label><i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipCompatibilityMode" }}"></i>
        <select name="partnerPeSITcompatibilityMode" class="form-select">
            {{ range $.CompatibilityModePeSIT }}
                <option value="{{ . }}" {{ if eq $.ProtoConfig.compatibilityMode . }}selected{{ end }}>
                    {{ if eq . "axway" }}{{ index $.tab "standardParameterPesit" }}{{ else if eq . "none" }}{{ index $.tab "noneStandardParameterPesit" }}{{ else }}{{ . }}{{ end }}
                </option>
            {{ end }}
        </select>
    </div>
    <hr class="mt-2 mb-4" style="border-top: 1px solid #ababab;">
    <div class="form-input mt-2">
        <label class="col-form-label">{{ index .tab "maxMessageSize" }} :</label><i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipMaxMessageSize" }}"></i>
        <input type="text" name="partnerPeSITmaxMessageSize" class="form-control" value="{{ .ProtoConfig.maxMessageSize }}">
    </div>
    <hr class="mt-2 mb-4" style="border-top: 1px solid #ababab;">
    <div class="form-input mt-2 d-flex align-items-center">
        <label class="col-form-label me-3">{{ index .tab "disablePreConnection" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipDisablePreConnection" }}"></i> :</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="disablePreConnection" id="disablePreConnection" value="true" {{ if eq .ProtoConfig.disablePreConnection true }}checked{{ end }}>
        </div>
    </div>
    <div id="pesit-tlsForm">
        <hr class="mt-2 mb-4" style="border-top: 1px solid #ababab;">
                <div class="form-input mt-4">
            <label class="col-form-label">{{ index .tab "minTLSVersion" }} :</label><i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipMinPesitTLSVersion" }}"></i>
            <select name="partnerFTPSminTLSVersion" class="form-select" required>
                {{ range $.TLSVersions }}
                    <option value="{{ . }}" {{ if eq $.ProtoConfig.minTLSVersion . }}selected{{ end }}>{{ . }}</option>
                {{ end }}
            </select>
        </div>
    </div>
</div>
{{ end }}

{{ define "editSftp" }}
<div id="protoConfig_sftp" class="protoConfigBlock" style="display:none;">
    <hr class="mt-2" style="border-top: 1px solid #ababab;">
    <div class="mt-4 mb-2 text-start"><strong>{{ index .tab "protocolConfiguration" }} :</strong><i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipProtocolConfiguration" }}"></i></div>
    <div class="form-input mt-4">
    <label class="col-form-label">{{ index .tab "keyExchanges" }} :</label><i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipKeyExchanges" }}"></i>
    <div id="keyExchangesContainer">
    {{ if .ProtoConfig.keyExchanges }}
        {{ range $i, $v := .ProtoConfig.keyExchanges }}
        <div class="input-group mb-2">
            <select name="keyExchanges[]" class="form-select">
            <option value="" disabled>{{ index $.tab "selectKeyExchanges" }}</option>
            {{ range $.KeyExchanges }}
                <option value="{{ .Name }}" {{ if eq .Name $v }}selected{{ end }}>
                {{ .Name }}{{ if (contains .Name "sha1") }} ({{ index $.tab "depreciated" }}){{ end }}
                </option>
            {{ end }}
            </select>
            <button type="button" class="btn btn-outline-danger btn-sm" onclick="removeField(this)" tabindex="-1"><i class="bi bi-trash"></i></button>
        </div>
        {{ end }}
    {{ else }}
        <div class="input-group mb-2">
        <select name="keyExchanges[]" class="form-select">
            <option value="" disabled selected>{{ index $.tab "selectKeyExchanges" }}</option>
            {{ range $.KeyExchanges }}
            <option value="{{ .Name }}">
                {{ .Name }}{{ if (contains .Name "sha1") }} ({{ index $.tab "depreciated" }}){{ end }}
            </option>
            {{ end }}
        </select>
        <button type="button" class="btn btn-outline-danger btn-sm" onclick="removeField(this)" tabindex="-1"><i class="bi bi-trash"></i></button>
        </div>
    {{ end }}
    </div>
    <button type="button" class="btn btn-outline-primary btn-sm" onclick="addField(this,'keyExchanges[]')">{{ index .tab "add" }}</button>
    </div>
    <hr class="mt-4 mb-3" style="border-top: 1px solid #ababab;">
    <div class="form-input mt-2">
    <label class="col-form-label">{{ index .tab "ciphers" }} :</label><i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipCiphers" }}"></i>
    <div id="ciphersContainer">
        {{ if .ProtoConfig.ciphers }}
        {{ range $i, $v := .ProtoConfig.ciphers }}
            <div class="input-group mb-2">
            <select name="ciphers[]" class="form-select">
                <option value="" disabled>{{ index $.tab "selectCiphers" }}</option>
                {{ range $.Ciphers }}
                <option value="{{ .Name }}" {{ if eq .Name $v }}selected{{ end }}>
                    {{ .Name }}{{ if (contains .Name "sha1") }} ({{ index $.tab "depreciated" }}){{ end }}
                </option>
                {{ end }}
            </select>
            <button type="button" class="btn btn-outline-danger btn-sm" onclick="removeField(this)" tabindex="-1"><i class="bi bi-trash"></i></button>
            </div>
        {{ end }}
        {{ else }}
        <div class="input-group mb-2">
            <select name="ciphers[]" class="form-select">
            <option value="" disabled selected>{{ index .tab "selectCiphers" }}</option>
            {{ range $.Ciphers }}
                <option value="{{ .Name }}">
                {{ .Name }}{{ if (contains .Name "sha1") }} ({{ index $.tab "depreciated" }}){{ end }}
                </option>
            {{ end }}
            </select>
            <button type="button" class="btn btn-outline-danger btn-sm" onclick="removeField(this)" tabindex="-1"><i class="bi bi-trash"></i></button>
        </div>
        {{ end }}
    </div>
    <button type="button" class="btn btn-outline-primary btn-sm" onclick="addField(this,'ciphers[]')">{{ index .tab "add" }}</button>
    </div>
    <hr class="mt-4 mb-3" style="border-top: 1px solid #ababab;">
    <div class="form-input mt-2">
    <label class="col-form-label">{{ index .tab "macs" }} :</label><i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipMacs" }}"></i>
    <div id="macsContainer">
        {{ if .ProtoConfig.macs }}
        {{ range $i, $v := .ProtoConfig.macs }}
            <div class="input-group mb-2">
            <select name="macs[]" class="form-select">
                <option value="" disabled>{{ index $.tab "selectMacs" }}</option>
                {{ range $.MACs }}
                <option value="{{ .Name }}" {{ if eq .Name $v }}selected{{ end }}>
                    {{ .Name }}{{ if (contains .Name "sha1") }} ({{ index $.tab "depreciated" }}){{ end }}
                </option>
                {{ end }}
            </select>
            <button type="button" class="btn btn-outline-danger btn-sm" onclick="removeField(this)" tabindex="-1"><i class="bi bi-trash"></i></button>
            </div>
        {{ end }}
        {{ else }}
        <div class="input-group mb-2">
            <select name="macs[]" class="form-select">
            <option value="" disabled selected>{{ index .tab "selectMacs" }}</option>
            {{ range $.MACs }}
                <option value="{{ .Name }}">
                {{ .Name }}{{ if (contains .Name "sha1") }} ({{ index $.tab "depreciated" }}){{ end }}
                </option>
            {{ end }}
            </select>
            <button type="button" class="btn btn-outline-danger btn-sm" onclick="removeField(this)" tabindex="-1"><i class="bi bi-trash"></i></button>
        </div>
        {{ end }}
    </div>
    <button type="button" class="btn btn-outline-primary btn-sm" onclick="addField(this,'macs[]')">{{ index .tab "add" }}</button>
    </div>
    <hr class="mt-4 mb-3" style="border-top: 1px solid #ababab;">
    <div class="form-input mt-2 d-flex align-items-center">
        <label class="col-form-label me-3">{{ index .tab "useStat" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipUseStat" }}"></i> :</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="useStat" id="useStat" value="true" {{ if eq .ProtoConfig.useStat true }}checked{{ end }}>
        </div>
    </div>
    <hr class="mt-2 mb-4" style="border-top: 1px solid #ababab;">
    <div class="form-input mt-2 d-flex align-items-center">
        <label class="col-form-label me-3">{{ index .tab "disableClientConcurrentReads" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipDisableClientConcurrentReads" }}"></i> :</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="disableClientConcurrentReads" id="disableClientConcurrentReads" value="true" {{ if eq .ProtoConfig.disableClientConcurrentReads true }}checked{{ end }}>
        </div>
    </div>
</div>
{{ end }}