{{ define "header" }}
  <link rel="stylesheet" href="/webui/static/css/style.css">
  <header class="py-2 mb-4 border-bottom" style="background-color: #f54b15 !important;">
    <div class="container d-flex w-100 align-items-center justify-content-between">
      <a href="home" class="d-flex align-items-center text-decoration-none text-white">
        <span class="fs-4">Waarp Gateway</span>
      </a>
      <ul class="nav nav-pills mx-auto">
        <li class="nav-item"><a href="home" class="nav-link text-white">Part.1</a></li> <!-- active aria-current="page" -->
        <li class="nav-item"><a href="home" class="nav-link text-white">Part.2</a></li>
        <li class="nav-item"><a href="home" class="nav-link text-white">Part.3</a></li>
        <li class="nav-item"><a href="home" class="nav-link text-white">Part.4</a></li>
      </ul>
      <ul class="nav nav-pills me-5">
        <li class="nav-item"><a href="home" class="nav-link text-white d-flex align-items-center"><i class="bi bi-person-fill fs-6 me-2"></i>{{ index .username }}</a></li>
        <li class="nav-item"><a href="home" class="nav-link text-white">{{ index .tab "about" }}</a></li>
        <li class="nav-item"><a href="logout" class="nav-link text-white">{{ index .tab "logout" }}</a></li>
      </ul>
      <ul class="nav nav-pills">
       {{ template "multi_language" . }}
       </ul>
    </div>
  </header>
{{ end }}