{{ define "head" }}
  <title>{{ index .tab "title" }}</title>
  <link rel="stylesheet" href="/webui/static/css/style.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
  <script src="/webui/static/javaScript/showProtoConfig.js"></script>
  <script src="/webui/static/javaScript/autoCompleteSearch.js"></script>
  <script src="/webui/static/javaScript/tooltip.js"></script>
  <script>window.modalOpen = "{{ .modalOpen }}";</script>
  <script src="/webui/static/javaScript/displayErr.js"></script>
{{ end }}

{{ define "content" }}
    {{ if .errMsg }}
        <div id="errorPopup" class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ .errMsg }}
            <button type="button" class="btn-close error-close-btn" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {{ end }}
    <div class="d-flex align-items-center justify-content-between">
        <h2 class="mb-0">{{ index .tab "title" }}</h2>
        <button class="btn btn-outline-secondary ms-3 back-btn" type="button" onclick="window.location='home'">
          <i class="bi bi-arrow-left"></i>
        </button>
      </div>
    <hr style="border-top: 1px solid #ababab;">

    {{ if contains .myPermission.Partners "w" }}
        <button class="btn btn-primary mb-3 btn-add" type="button" data-bs-toggle="modal" data-bs-target="#addPartnerModal">
        {{ index .tab "addPartnerTitle" }}
        </button>
        <div class="modal fade" id="addPartnerModal" tabindex="-1" aria-labelledby="addPartnerModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
              <div class="modal-content">
              <form method="post" class="p-3 border rounded bg-light">
              <div class="modal-header">
              <h5 class="modal-title" id="addPartnerModalLabel">{{ index .tab "addPartnerTitle" }}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">

              <div class="form-input">
                  <label class="col-form-label">{{ index .tab "nameStr" }} :</label>
                  <input type="text" name="addPartnerName" class="form-control" required>
              </div>
              <hr style="border-top: 1px solid #ababab;">
              <div class="form-input">
                <label class="col-form-label">{{ index .tab "protocol" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipProtocol" }}"></i> :</label>
                <select name="addPartnerProtocol" id="addPartnerProtocol" class="form-select protocolConfiguration-select" required>
                  <option value="" disabled selected>{{ index .tab "selectProto" }}</option>
                  <option value="r66">R66</option>
                  <option value="r66-tls">R66-TLS</option>
                  <option value="sftp">SFTP</option>
                  <option value="http">HTTP</option>
                  <option value="https">HTTPS</option>
                  <option value="ftp">FTP</option>
                  <option value="ftps">FTPS</option>
                  <option value="pesit">PeSIT</option>
                  <option value="pesit-tls">PeSIT-TLS</option>
                </select>
              </div>
              <hr style="border-top: 1px solid #ababab;">
              <div class="form-input">
                  <label class="col-form-label">{{ index .tab "address" }} ({{ index .tab "host" }}) <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipHost" }}"></i> :</label>
                  <input type="text" name="addPartnerHost" class="form-control" required>
              </div>
              <hr style="border-top: 1px solid #ababab;">
                <div class="form-input">
                    <label class="col-form-label">{{ index .tab "address" }} ({{ index .tab "port" }}) <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipPort" }}"></i> :</label>
                  <input type="text" name="addPartnerPort" class="form-control" required>
              </div>
              {{ template "addR66" . }}
              {{ template "addSftp" . }}
              {{ template "addFtp" . }}
              {{ template "addPesit" . }}
            </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ index .tab "close" }}</button>
                  <button type="submit" class="btn btn-success ms-3">{{ index .tab "apply" }}</button>
                  </div>
              </form>
              </div>
          </div>
        </div>
    {{ end }}
    {{ if contains .myPermission.Partners "r" }}
        <button class="btn btn-primary mb-3 ms-1-5 btn-filter" type="button" data-bs-toggle="collapse" data-bs-target="#filterCollapse" aria-expanded="false" aria-controls="filterCollapse">
        {{ index .tab "filter" }}
        </button>
        <div class="collapse" id="filterCollapse">
        <form method="get" class="p-3 border rounded bg-light">
            <label class="ms-3">{{ index .tab "sort" }}:
            <select name="orderAsc" class="form-select d-inline w-auto">
                <option value="true" {{ if .filter.OrderAsc }}selected{{ end }}>A → Z</option>
                <option value="false" {{ if not .filter.OrderAsc }}selected{{ end }}>Z → A</option>
            </select>
            </label>
            <label class="ms-3">{{ index .tab "limit" }}:
            <select name="limit" class="form-select d-inline w-auto">
                <option value="0" disabled selected>--</option>
                <option value="5" {{ if eq .filter.Limit 5 }}selected{{ end }}>5</option>
                <option value="10" {{ if eq .filter.Limit 10 }}selected{{ end }}>10</option>
                <option value="15" {{ if eq .filter.Limit 15 }}selected{{ end }}>15</option>
                <option value="20" {{ if eq .filter.Limit 20 }}selected{{ end }}>20</option>
                <option value="25" {{ if eq .filter.Limit 25 }}selected{{ end }}>25</option>
            </select>
            </label>
            <div style="float:right">
              <button id="applyBtn" type="submit" class="btn btn-success">{{ index .tab "apply" }}</button>
              <button id="resetBtn" type="button" class="btn btn-secondary ms-2" onclick="window.location='partner_management'">{{ index .tab "reset" }}</button>
            </div>
            <div class="mt-3">
            <label class="ms-3 me-3">{{ index .tab "protocol" }}: </label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="filterProtocolR66" id="filterProtocolR66" value="true" {{ if .filter.Protocols.R66 }}checked{{ end }}>
              <label class="form-check-label" for="filterProtocolR66">R66</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="filterProtocolR66-TLS" id="filterProtocolR66-TLS" value="true" {{ if .filter.Protocols.R66TLS }}checked{{ end }}>
              <label class="form-check-label" for="filterProtocolR66-TLS">R66-TLS</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="filterProtocolSFTP" id="filterProtocolSFTP" value="true" {{ if .filter.Protocols.SFTP }}checked{{ end }}>
              <label class="form-check-label" for="filterProtocolSFTP">SFTP</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="filterProtocolHTTP" id="filterProtocolHTTP" value="true" {{ if .filter.Protocols.HTTP }}checked{{ end }}>
              <label class="form-check-label" for="filterProtocolHTTP">HTTP</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="filterProtocolHTTPS" id="filterProtocolHTTPS" value="true" {{ if .filter.Protocols.HTTPS }}checked{{ end }}>
              <label class="form-check-label" for="filterProtocolHTTPS">HTTPS</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="filterProtocolFTP" id="filterProtocolFTP" value="true" {{ if .filter.Protocols.FTP }}checked{{ end }}>
              <label class="form-check-label" for="filterProtocolFTP">FTP</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="filterProtocolFTPS" id="filterProtocolFTPS" value="true" {{ if .filter.Protocols.FTPS }}checked{{ end }}>
              <label class="form-check-label" for="filterProtocolFTPS">FTPS</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="filterProtocolPeSIT" id="filterProtocolPeSIT" value="true" {{ if .filter.Protocols.PeSIT }}checked{{ end }}>
              <label class="form-check-label" for="filterProtocolPeSIT">PeSIT</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="filterProtocolPeSIT-TLS" id="filterProtocolPeSIT-TLS" value="true" {{ if .filter.Protocols.PeSITTLS }}checked{{ end }}>
              <label class="form-check-label" for="filterProtocolPeSIT-TLS">PeSIT-TLS</label>
            </div>
            </div>
        </form>
        </div>
        <nav class="navbar navbar-light bg-light">
          <input type="hidden" id="pageType" value="partners">
            <form method="get" class="d-flex ms-auto position-relative" onsubmit="return true">
                {{ if eq .partnerFound "false" }}
                    <div class="invalid-feedback d-block mt-2">{{ index .tab "PartnerNotFound" }}</div>
                {{ else if eq .partnerFound "true" }}
                    <button id="resetBtn" type="button" class="btn reset-btn" onclick="window.location='partner_management'"><i class="bi bi-x fs"></i></button>
                {{ end }}
            <input class="navbar-partner form-control {{ if eq .partnerFound "false" }}is-invalid{{ end }}" type="search" placeholder="{{ index .tab "search" }}" name="search" id="search" autocomplete="off">
            <button class="btn btn-primary ms-2 btn-navbar" type="submit">{{ index .tab "search" }}</button>
            <ul id="autocomplete" class="list-group"></ul>
            </form>
        </nav>
        <table class="table table-sm align-middle mb-4 rounded-3 mt-3">
          <thead class="table-light">
            <tr>
              <th></th>
              <th>{{ index .tab "partners" }}</th>
              <th>{{ index .tab "protocol" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipProtocol" }}"></i></th>
              <th>{{ index .tab "address" }} ({{ index .tab "host" }}) <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipHost" }}"></i></th>
              <th>{{ index .tab "address" }} ({{ index .tab "port" }}) <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipPort" }}"></i></th>
              <th>{{ index .tab "protocolConfiguration" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipProtocolConfiguration" }}"></i></th>
              <th class="text-end"></th>
            </tr>
          </thead>
          <tbody>
            {{ range .partner }}
            <tr>
              <td><i class="bi bi-person-fill"></i></td>
              <td><strong>{{ .Name }}</strong></td>

              <td>{{ .Protocol }}</td>
              <td>{{ .Address.Host }}</td>
              <td>{{ .Address.Port }}</td>
              <td>
              {{ if and (ne .Protocol "http") (ne .Protocol "https") }}
              <button class="btn btn-outline-primary modal-btn" type="button" data-bs-toggle="modal" data-bs-target="#protoConfigModal_{{ .ID }}">
                <i class="bi bi-gear-wide-connected"></i>
              </button>
              <div class="modal fade" id="protoConfigModal_{{ .ID }}" tabindex="-1" aria-labelledby="protoConfigModalLabel_{{ .ID }}" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content p-3 border rounded bg-light">
                    <div class="modal-header">
                      <h5 class="modal-title" id="protoConfigModalLabel_{{ .ID }}">
                        {{ index $.tab "protocolConfiguration" }}: {{ .Name }}
                      </h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      {{ if or (eq .Protocol "r66") (eq .Protocol "r66-tls") }}
                        {{ template "displayR66" (dict "tab" $.tab "ProtoConfig" .ProtoConfig) }}
                      {{ end }}
                      {{ if or (eq .Protocol "ftp") (eq .Protocol "ftps") }}
                        {{ template "displayFtp" (dict "tab" $.tab "ProtoConfig" .ProtoConfig "TLSVersions" $.TLSVersions) }}
                      {{ end }}
                      {{ if or (eq .Protocol "pesit") (eq .Protocol "pesit-tls") }}
                        {{ template "displayPesit" (dict "tab" $.tab "ProtoConfig" .ProtoConfig "TLSVersions" $.TLSVersions) }}
                      {{ end }}
                      {{ if eq .Protocol "sftp" }}
                        {{ template "displaySftp" (dict "tab" $.tab "ProtoConfig" .ProtoConfig "KeyExchanges" $.KeyExchanges "Ciphers" $.Ciphers "MACs" $.MACs) }}
                      {{ end }}
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ index $.tab "close" }}</button>
                    </div>
                  </div>
                </div>
              </div>
              {{ end }}
              </td>
              <td class="text-end">
                <a class="btn btn-outline-warning btn-sm me-1" href="partner_authentication?partnerID={{ .ID }}" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{ index $.tab "tooltipPartnerAuthentication" }}">
                  <i class="bi bi-shield-lock"></i>
                </a>
                <a class="btn btn-outline-info btn-sm me-1" href="remote_account_management?partnerID={{ .ID }}" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{ index $.tab "tooltipRemoteAccountManagement" }}">
                  <i class="bi bi-person-gear"></i>
                </a>
                {{ if contains $.myPermission.Partners "w" }}
                  <button class="btn btn-outline-primary btn-sm me-1" data-bs-toggle="modal" data-bs-target="#editPartnerModal_{{ .ID }}">
                  <i class="bi bi-pencil"></i>
                  </button>
                  <div class="modal fade" id="editPartnerModal_{{ .ID }}" tabindex="-1" aria-labelledby="editPartnerModalLabel_{{ .ID }}" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                      <form method="post" class="p-3 border rounded bg-light">
                      <input type="hidden" name="editPartnerID" value="{{ .ID }}">
                      <div class="modal-header">
                      <h5 class="modal-title" id="editPartnerModalLabel">{{ index $.tab "edit" }}: {{ .Name }}</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                      <div class="form-input">
                          <label class="col-form-label">{{ index $.tab "nameStr" }} :</label>
                          <input type="text" name="editPartnerName" class="form-control" required value="{{ .Name }}">
                      </div>
                      <hr style="border-top: 1px solid #ababab;">
                      <div class="form-input mt-4">
                        <label class="col-form-label">{{ index $.tab "protocol" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipProtocol" }}"></i> :</label>
                        <select name="editPartnerProtocol" class="form-select protocolConfiguration-select" required>
                          <option value="r66" {{ if eq .Protocol "r66" }}selected{{ end }}>R66</option>
                          <option value="r66-tls" {{ if eq .Protocol "r66-tls" }}selected{{ end }}>R66-TLS</option>
                          <option value="sftp" {{ if eq .Protocol "sftp" }}selected{{ end }}>SFTP</option>
                          <option value="http" {{ if eq .Protocol "http" }}selected{{ end }}>HTTP</option>
                          <option value="https" {{ if eq .Protocol "https" }}selected{{ end }}>HTTPS</option>
                          <option value="ftp" {{ if eq .Protocol "ftp" }}selected{{ end }}>FTP</option>
                          <option value="ftps" {{ if eq .Protocol "ftps" }}selected{{ end }}>FTPS</option>
                          <option value="pesit" {{ if eq .Protocol "pesit" }}selected{{ end }}>PeSIT</option>
                          <option value="pesit-tls" {{ if eq .Protocol "pesit-tls" }}selected{{ end }}>PeSIT-TLS</option>
                        </select>
                      </div>
                      <hr style="border-top: 1px solid #ababab;">
                      <div class="form-input mt-4">
                          <label class="col-form-label">{{ index $.tab "address" }} ({{ index $.tab "host" }}) <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipHost" }}"></i> :</label>
                          <input type="text" name="editPartnerHost" class="form-control" required value="{{ .Address.Host }}">
                      </div>
                      <hr style="border-top: 1px solid #ababab;">
                      <div class="form-input mt-4">
                          <label class="col-form-label">{{ index $.tab "address" }} ({{ index $.tab "port" }}) <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index $.tab "tooltipPort" }}"></i> :</label>
                          <input type="text" name="editPartnerPort" class="form-control" required value="{{ .Address.Port }}">
                      </div>
                      {{ template "editR66" (dict "tab" $.tab "ProtoConfig" .ProtoConfig) }}
                      {{ template "editFtp" (dict "tab" $.tab "ProtoConfig" .ProtoConfig "TLSVersions" $.TLSVersions) }}
                      {{ template "editPesit" (dict "tab" $.tab "ProtoConfig" .ProtoConfig "TLSVersions" $.TLSVersions "CompatibilityModePeSIT" $.CompatibilityModePeSIT) }}
                      {{ template "editSftp" (dict "tab" $.tab "ProtoConfig" .ProtoConfig "KeyExchanges" $.KeyExchanges "Ciphers" $.Ciphers "MACs" $.MACs) }}
                    </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ index $.tab "close" }}</button>
                          <button type="submit" class="btn btn-success ms-3">{{ index $.tab "apply" }}</button>
                        </div>
                      </form>
                      </div>
                  </div>
                  </div>
              {{ end }}
              {{ if contains $.myPermission.Partners "d" }}
                <form method="post" class="d-inline">
                  <input type="hidden" name="deletePartner" value="{{ .ID }}">
                  <button type="submit" class="btn btn-outline-danger btn-sm" onclick="return confirm('{{ index $.tab "confirmDelete" }}')">
                    <i class="bi bi-trash"></i>
                  </button>
                </form>
              {{ end }}
              </td>
            </tr>
            {{ end }}
          </tbody>
        </table>
        <form method="get">
          <ul class="pagination">
            <input type="hidden" name="orderAsc" value="{{ .filter.OrderAsc }}">
            <input type="hidden" name="limit" value="{{ .filter.Limit }}">
            <input type="hidden" name="offset" value="{{ .filter.Offset }}">
            <li class="page-item {{ if .filter.DisablePrevious }}disabled{{ end }}"><button class="page-link" name="previous" type="submit" value="true">{{ index .tab "previous" }}</button></li>
            <li class="page-item"><button class="page-link disabled">{{ .currentPage }}</button></li>
            <li class="page-item {{ if .filter.DisableNext }}disabled{{ end }}"><button class="page-link" name="next" type="submit" value="true">{{ index .tab "next" }}</button></li>
          </ul>
        </form>
    {{ end }}
{{ end }}

{{ define "partner_management_page" }}
  {{ template "index" . }}
{{ end }}