{{ define "head" }}
  <title>{{ index .tab "title" }}</title>
  <link rel="stylesheet" href="/webui/static/css/style.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
  <script src="/webui/static/javaScript/tooltip.js"></script>
  <script src="/webui/static/javaScript/refreshTableTransfer.js"></script>
  <script>window.modalOpen = "{{ .modalOpen }}";</script>
  <script src="/webui/static/javaScript/displayErr.js"></script>
{{ end }}

{{ define "transfer_monitoring_tbody" }}
    {{ range .transfer }}
    <tr>
        <td><i class="bi bi-arrow-left-right me-1"></i></td>
        <td><strong>{{ .ID }}</strong></td>
        <td>
          {{ if eq .Status "DONE" }}
              <span class="fw-bold text-success">{{ index $.tab "done" }}</span>
          {{ else if eq .Status "ERROR" }}
              <span class="fw-bold text-danger">{{ index $.tab "error" }}</span>
          {{ else if eq .Status "PLANNED" }}
              <span class="fw-bold">{{ index $.tab "planned" }}</span>
          {{ else }}
              <span class="fw-bold">{{ .Status }}</span>
          {{ end }}
      </td>
        <td {{ if gt (len .SrcFilename) 15 }} title="{{ .SrcFilename }}" data-bs-toggle="tooltip" {{ end }}>
        {{ if gt (len .SrcFilename) 15 }}
            {{ slice .SrcFilename 0 15 }}...
        {{ else }}
            {{ .SrcFilename }}
        {{ end }}
        </td>
        <td>
          {{ if .IsSend }}
              {{ index $.tab "send" }}
          {{ else }}
              {{ index $.tab "receive" }}
          {{ end }}
        </td>
        <td>{{ formatDateTime .Start $.Request $.language }}</td>
        <td>
          {{ $stopTime := print (formatDateTime .Stop $.Request $.language) }}
          {{ if contains $stopTime "01/01/0001" }}
            n/a
          {{ else }}
            {{ $stopTime }}
          {{ end }}
        </td>
        <td>
            {{ $percent := 0 }}
            {{ if gt .Filesize 0 }}
                {{ $percent = div (mul .Progress 100) .Filesize }}
            {{ end }}
            <div class="progress" style="width: 80%;">
              <div class="progress-bar bg-success-subtle text-dark" role="progressbar" style="width: {{ $percent }}%;" aria-valuenow="{{ $percent }}" aria-valuemin="0" aria-valuemax="100">
                  {{ $percent }}%
              </div>
            </div>
        </td>
        <td>{{ .Filesize }}</td>
        <td>
            <button class="btn btn-outline-primary modal-btn" type="button" data-bs-toggle="modal" data-bs-target="#moreInfosModal_{{ .ID }}">
            <i class="bi bi-three-dots"></i>
            </button>
            <div class="modal fade" id="moreInfosModal_{{ .ID }}" tabindex="-1" aria-labelledby="moreInfosModalLabel_{{ .ID }}" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content p-3 border rounded bg-light">
                <div class="modal-header">
                    <h5 class="modal-title" id="moreInfosModalLabel_{{ .ID }}">
                    {{ index $.tab "additionalInformation" }} : {{ .SrcFilename }}
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-input">
                    <label class="col-form-label">{{ index $.tab "nameTransferAgent" }} :</label>
                    <input type="text" class="form-control-plaintext" value="{{ .Agent }}" readonly>
                    </div>
                    <hr style="border-top: 1px solid #ababab;">
                    <div class="form-input">
                    <label class="col-form-label">{{ index $.tab "account" }} :</label>
                    <input type="text" class="form-control-plaintext" value="{{ .Account }}" readonly>
                    </div>
                    <hr style="border-top: 1px solid #ababab;">
                    <div class="form-input">
                    <label class="col-form-label">{{ index $.tab "ruleTransfer" }} :</label>
                    <input type="text" class="form-control-plaintext" value="{{ .Rule }}" readonly>
                    </div>
                    <hr style="border-top: 1px solid #ababab;">
                    <div class="form-input">
                    <label class="col-form-label">{{ index $.tab "transferDirection" }} :</label>
                    <input type="text" class="form-control-plaintext" value="{{ if .IsSend }}send{{ else }}receive{{ end }}" readonly>
                    </div>
                    <hr style="border-top: 1px solid #ababab;">
                    <div class="form-input">
                    <label class="col-form-label">{{ index $.tab "step" }} :</label>
                    <input type="text" class="form-control-plaintext" value="{{ .Step }}" readonly>
                    </div>
                    <hr style="border-top: 1px solid #ababab;">
                    <div class="form-input">
                    <label class="col-form-label">{{ index $.tab "protocol" }} :</label>
                    <input type="text" class="form-control-plaintext" value="{{ .Protocol }}" readonly>
                    </div>
                    <hr style="border-top: 1px solid #ababab;">
                    <div class="form-input">
                    <label class="col-form-label">{{ index $.tab "client" }} :</label>
                    <input type="text" class="form-control-plaintext" value="{{ .Client }}" readonly>
                    </div>
                    <hr style="border-top: 1px solid #ababab;">
                    <div class="form-input">
                    <label class="col-form-label">{{ index $.tab "destFilename" }} :</label>
                    <input type="text" class="form-control-plaintext" value="{{ .DestFilename }}" readonly>
                    </div>
                    <hr style="border-top: 1px solid #ababab;">
                    <div class="form-input">
                    <label class="col-form-label">{{ index $.tab "localPath" }} :</label>
                    <input type="text" class="form-control-plaintext" value="{{ .LocalPath }}" readonly>
                    </div>
                    <hr style="border-top: 1px solid #ababab;">
                    <div class="form-input">
                    <label class="col-form-label">{{ index $.tab "remotePath" }} :</label>
                    <input type="text" class="form-control-plaintext" value="{{ .RemotePath }}" readonly>
                    </div>
                    <hr style="border-top: 1px solid #ababab;">
                    <div class="form-input">
                    <label class="col-form-label">{{ index $.tab "bytesTransferred" }} :</label>
                    <input type="text" class="form-control-plaintext" value="{{ .Progress }}" readonly>
                    </div>
                    <hr style="border-top: 1px solid #ababab;">
                    <div class="form-input">
                    <label class="col-form-label">{{ index $.tab "taskNumber" }} :</label>
                    <input type="text" class="form-control-plaintext" value="{{ .TaskNumber }}" readonly>
                    </div>
                    <hr style="border-top: 1px solid #ababab;">
                    <div class="form-input">
                    <label class="col-form-label">{{ index $.tab "errCode" }} :</label>
                    <input type="text" class="form-control-plaintext" value="{{ .ErrCode }}" readonly>
                    </div>
                    <hr style="border-top: 1px solid #ababab;">
                    <div class="form-input">
                    <label class="col-form-label">{{ index $.tab "errDetails" }} :</label>
                    <input type="text" class="form-control-plaintext" value="{{ .ErrDetails }}" readonly>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ index $.tab "close" }}</button>
                </div>
                </div>
            </div>
            </div>
        </td>
        <td class="text-end">
            <button class="btn btn-outline-warning btn-sm me-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{ index $.tab "pause" }}">
                <i class="bi bi-pause"></i>
            </button>
            <button class="btn btn-outline-success btn-sm me-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{ index $.tab "resume" }}">
                <i class="bi bi-play"></i>
            </button>
            <button class="btn btn-outline-danger btn-sm me-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{ index $.tab "cancel" }}">
                <i class="bi bi-x-circle"></i>
            </button>
            <button class="btn btn-outline-info btn-sm me-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{ index $.tab "reschedule" }}">
                <i class="bi bi-arrow-repeat"></i>
            </button>
        </td>
    </tr>
    {{ end }}
{{ end }}

{{ define "content" }}
    {{ if .errMsg }}
        <div id="errorPopup" class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ .errMsg }}
            <button type="button" class="btn-close error-close-btn" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {{ end }}
  <div class="d-flex align-items-center justify-content-between">
    <h2 class="mb-0">{{ index .tab "title" }}</h2>
    <button class="btn btn-outline-secondary ms-3 back-btn" type="button" onclick="window.location='home'">
      <i class="bi bi-arrow-left"></i>
    </button>
  </div>
  <hr style="border-top: 1px solid #ababab;">

    {{ if contains .myPermission.Transfers "w" }}
        <button class="btn btn-primary mb-3 btn-add" type="button" data-bs-toggle="modal" data-bs-target="#addTransferModal">
            {{ index .tab "addTransferTitle" }}
        </button>
        <div class="modal fade" id="addTransferModal" tabindex="-1" aria-labelledby="addTransferModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <form method="post" class="p-3 border rounded bg-light">
                <div class="modal-header">
                  <h5 class="modal-title" id="addTransferModalLabel">{{ index .tab "addTransferTitle" }}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="form-input mb-2">
                    <label class="col-form-label">{{ index .tab "pathFile" }} :</label>
                    <input type="text" name="transferFile" class="form-control" required>
                  </div>
                  <hr style="border-top: 1px solid #ababab;">
                  <div class="form-input mb-2">
                    <label class="col-form-label">{{ index .tab "pathDestination" }} :</label>
                    <input type="text" name="transferOut" class="form-control">
                  </div>
                  <hr style="border-top: 1px solid #ababab;">
                  <div class="form-input d-flex align-items-center">
                    <label class="col-form-label me-3">{{ index .tab "transferDirection" }} :</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="transferWay" id="transferWay" value="true">
                    </div>
                 </div>
                 <hr style="border-top: 1px solid #ababab;">
                  <div class="form-input mb-2">
                    <label class="col-form-label">{{ index .tab "localClientName" }} :</label>
                    <input type="text" name="transferClient" class="form-control">
                  </div>
                  <hr style="border-top: 1px solid #ababab;">
                  <div class="form-input mb-2">
                    <label class="col-form-label">{{ index .tab "localAccountName" }} :</label>
                    <input type="text" name="transferPartner" class="form-control" required>
                  </div>
                  <hr style="border-top: 1px solid #ababab;">
                  <div class="form-input mb-2">
                    <label class="col-form-label">{{ index .tab "remoteAccountName" }} :</label>
                    <input type="text" name="transferLogin" class="form-control">
                  </div>
                  <hr style="border-top: 1px solid #ababab;">
                  <div class="form-input mb-2">
                    <label class="col-form-label">{{ index .tab "rule" }} :</label>
                    <input type="text" name="transferRule" class="form-control">
                  </div>
                  <hr style="border-top: 1px solid #ababab;">
                  <div class="form-input mb-2">
                    <label class="col-form-label">{{ index .tab "date" }} :</label>
                    <input type="datetime-local" name="transferDate" class="form-control">
                  </div>
                  <hr style="border-top: 1px solid #ababab;">
                  <div class="form-input mb-2">
                    <label class="col-form-label">{{ index .tab "filenameAfterTransfer" }} :</label>
                    <input type="text" name="transferName" class="form-control">
                  </div>
                  <hr style="border-top: 1px solid #ababab;">
                  <div class="form-input mb-2">
                    <label class="col-form-label">{{ index .tab "infosTransfer" }} :</label>
                    <input type="text" name="transferInfo" class="form-control">
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ index .tab "close" }}</button>
                  <button type="submit" class="btn btn-success ms-3">{{ index .tab "apply" }}</button>
                </div>
              </form>
            </div>
          </div>
        </div>
    {{ end }}
    {{ if contains .myPermission.Transfers "r" }}
    <button class="btn btn-primary mb-3 ms-1-5 btn-filter" type="button" data-bs-toggle="collapse" data-bs-target="#filterCollapse" aria-expanded="false" aria-controls="filterCollapse">
      {{ index .tab "filter" }}
    </button>
    <div class="collapse" id="filterCollapse">
      <form method="get" class="p-3 border rounded bg-light">
        <label class="ms-3">{{ index .tab "sort" }}:
          <select name="orderAsc" class="form-select d-inline w-auto">
              <option value="false" {{ if not .filter.OrderAsc }}selected{{ end }}>Date ↓</option>
              <option value="true" {{ if .filter.OrderAsc }}selected{{ end }}>Date ↑</option>
          </select>
        </label>
        <label class="ms-3">{{ index .tab "limit" }}:
          <select name="limit" class="form-select d-inline w-auto">
            <option value="0" disabled selected>--</option>
            <option value="5" {{ if eq .filter.Limit 5 }}selected{{ end }}>5</option>
            <option value="10" {{ if eq .filter.Limit 10 }}selected{{ end }}>10</option>
            <option value="15" {{ if eq .filter.Limit 15 }}selected{{ end }}>15</option>
            <option value="20" {{ if eq .filter.Limit 20 }}selected{{ end }}>20</option>
            <option value="25" {{ if eq .filter.Limit 25 }}selected{{ end }}>25</option>
          </select>
        </label>
        <div style="float:right">
          <button id="applyBtn" type="submit" class="btn btn-success">{{ index .tab "apply" }}</button>
          <button id="resetBtn" type="button" class="btn btn-secondary ms-2" onclick="window.location='transfer_monitoring'">{{ index .tab "reset" }}</button>
        </div>
      </form>
    </div>
    <table class="table table-sm align-middle mb-4 rounded-3 mt-3">
      <thead class="table-light">
        <tr>
            <th></th>
            <th>{{ index .tab "id" }}</th>
            <th>{{ index .tab "status" }}</th>
            <th>{{ index .tab "file" }}</th>
            <th>{{ index .tab "connectionDirection" }}</th>
            <th>{{ index .tab "start" }}</th>
            <th>{{ index .tab "end" }}</th>
            <th>{{ index .tab "progress" }}</th>
            <th>{{ index .tab "size" }}</th>
            <th>{{ index .tab "moreInfo" }}</th>
            <th class="text-end"></th>
        </tr>
      </thead>
      <tbody>
        {{ template "transfer_monitoring_tbody" . }}
      </tbody>
    </table>
    <form method="get">
      <ul class="pagination">
        <input type="hidden" name="orderAsc" value="{{ .filter.OrderAsc }}">
        <input type="hidden" name="limit" value="{{ .filter.Limit }}">
        <input type="hidden" name="offset" value="{{ .filter.Offset }}">
        <li class="page-item {{ if .filter.DisablePrevious }}disabled{{ end }}"><button class="page-link" name="previous" type="submit" value="true">{{ index .tab "previous" }}</button></li>
        <li class="page-item"><button class="page-link disabled">{{ .currentPage }}</button></li>
        <li class="page-item {{ if .filter.DisableNext }}disabled{{ end }}"><button class="page-link" name="next" type="submit" value="true">{{ index .tab "next" }}</button></li>
      </ul>
    </form>
  {{ end }}
{{ end }}

{{ define "transfer_monitoring_page" }}
  {{ template "index" . }}
{{ end }}