{{ define "head" }}
    <title>{{ index .tab "title" }}</title>
    <link rel="stylesheet" href="/webui/static/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <script src="/webui/static/javaScript/user_management_page.js"></script>
    <script src="/webui/static/javaScript/autoCompleteSearch.js"></script>
    <script src="/webui/static/javaScript/eyePassword.js"></script>
    <script src="/webui/static/javaScript/confirmPassword.js"></script>
    <script src="/webui/static/javaScript/tooltip.js"></script>
{{ end }}

{{ define "content" }}
    <div class="d-flex align-items-center justify-content-between">
        <h2 class="mb-0">{{ index .tab "title" }}</h2>
        <button class="btn btn-outline-secondary ms-3 back-btn" type="button" onclick="window.location='home'">
          <i class="bi bi-arrow-left"></i>
        </button>
      </div>
    <hr class="mt-2 mb-4" style="border-top: 1px solid #ababab;">
    
    {{ if contains .myPermission.Users "w" }}
        <button class="btn btn-primary mb-3 btn-add" type="button" data-bs-toggle="modal" data-bs-target="#addUserModal">
        {{ index .tab "addUserTitle" }}
        </button>
        <div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <form method="get" class="p-3 border rounded bg-light">
                <div class="modal-header">
                <h5 class="modal-title" id="addUserModalLabel">{{ index .tab "addUserTitle" }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                <div class="form-input">
                    <label class="col-form-label">{{ index .tab "usernameStr" }} :</label>
                    <input type="text" name="newUserUsername" class="form-control" required>
                </div>
                <div class="form-input">
                    <label class="col-form-label mt-2">{{ index .tab "passwordStr" }} :</label>
                    <div class="input-group">
                        <input type="password" id="newUserPassword_{{ .ID }}" class="form-control" required>
                        <button class="btn btn-outline-secondary eye-button" type="button" onclick="eyePassword('newUserPassword_{{ .ID }}', this)"><i class="far fa-eye-slash"></i></button>
                    </div>
                </div>
                <div class="form-input">
                    <label class="col-form-label mt-2">{{ index .tab "passwordConfirmStr" }} :</label>
                    <div class="input-group">
                        <input type="password" id="newUserPasswordConfirm_{{ .ID }}" name="newUserPassword" class="form-control" required>
                        <button class="btn btn-outline-secondary eye-button" type="button" onclick="eyePassword('newUserPasswordConfirm_{{ .ID }}', this)"><i class="far fa-eye-slash"></i></button>
                    </div>
                </div>
                <div class="mt-3 mb-3"><strong>{{ index .tab "permissions" }} :</strong></div>
                <div class="form-group mt-2">
                <label class="col-form-label">{{ index .tab "transfers" }} :</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="newUserPermissionsTransfers" id="transfers_r" value="r">
                        <label class="form-check-label" for="transfers_r">{{ index .tab "read" }}</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="newUserPermissionsTransfers" id="transfers_w" value="w">
                        <label class="form-check-label" for="transfers_w">{{ index .tab "write" }}</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="newUserPermissionsTransfers" id="transfers_d" value="d">
                        <label class="form-check-label" for="transfers_d">{{ index .tab "delete" }}</label>
                    </div>
                    </div>
                <div class="form-group mt-2">
                <label class="col-form-label">{{ index .tab "servers" }} :</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="newUserPermissionServers" id="servers_r" value="r">
                        <label class="form-check-label" for="servers_r">{{ index .tab "read" }}</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="newUserPermissionServers" id="servers_w" value="w">
                        <label class="form-check-label" for="servers_w">{{ index .tab "write" }}</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="newUserPermissionServers" id="servers_d" value="rd">
                        <label class="form-check-label" for="servers_d">{{ index .tab "delete" }}</label>
                    </div>
                    </div>
                <div class="form-group mt-2">
                <label class="col-form-label">{{ index .tab "partners" }} :</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="newUserPermissionsPartners" id="partners_r" value="r">
                        <label class="form-check-label" for="partners_r">{{ index .tab "read" }}</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="newUserPermissionsPartners" id="partners_w" value="w">
                        <label class="form-check-label" for="partners_w">{{ index .tab "write" }}</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="newUserPermissionsPartners" id="partners_d" value="d">
                        <label class="form-check-label" for="partners_d">{{ index .tab "delete" }}</label>
                    </div>
                    </div>
                <div class="form-group mt-2">
                <label class="col-form-label">{{ index .tab "rules" }} :</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="newUserPermissionsRules" id="rules_r" value="r">
                        <label class="form-check-label" for="rules_r">{{ index .tab "read" }}</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="newUserPermissionsRules" id="rules_w" value="w">
                        <label class="form-check-label" for="rules_w">{{ index .tab "write" }}</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="newUserPermissionsRules" id="rules_d" value="d">
                        <label class="form-check-label" for="rules_d">{{ index .tab "delete" }}</label>
                    </div>
                    </div>
                <div class="form-group mt-2">
                <label class="col-form-label">{{ index .tab "users" }} :</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="newUserPermissionsUsers" id="users_r" value="r">
                        <label class="form-check-label" for="users_r">{{ index .tab "read" }}</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="newUserPermissionsUsers" id="users_w" value="w">
                        <label class="form-check-label" for="users_w">{{ index .tab "write" }}</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="newUserPermissionsUsers" id="users_d" value="d">
                        <label class="form-check-label" for="users_d">{{ index .tab "delete" }}</label>
                    </div>
                    </div>
                <div class="form-group mt-2">
                <label class="col-form-label">{{ index .tab "administration" }} :</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="newUserPermissionsAdministration" id="administration_r" value="r">
                        <label class="form-check-label" for="administration_r">{{ index .tab "read" }}</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="newUserPermissionsAdministration" id="administration_w" value="w">
                        <label class="form-check-label" for="administration_w">{{ index .tab "write" }}</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="newUserPermissionsAdministration" id="administration_d" value="d">
                        <label class="form-check-label" for="administration_d">{{ index .tab "delete" }}</label>
                    </div>
                    </div>
                </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ index .tab "close" }}</button>
            <button type="submit" class="btn btn-success ms-3" onclick="confirmPassword('newUserPassword_{{ .ID }}', 'newUserPasswordConfirm_{{ .ID }}', '{{ .language }}')">{{ index .tab "apply" }}</button>
            </div>
        </form>
        </div>
    </div>
    </div>
    {{ end }}

    {{ if contains .myPermission.Users "r" }}
        <button class="btn btn-primary mb-3 ms-1-5 btn-filter" type="button" data-bs-toggle="collapse" data-bs-target="#filterCollapse" aria-expanded="false" aria-controls="filterCollapse">
        {{ index .tab "filter" }}
        </button>
        <div class="collapse" id="filterCollapse">
        <form method="get" class="p-3 border rounded bg-light">
            <label class="ms-3">{{ index .tab "sort" }}
            <select name="orderAsc" class="form-select d-inline w-auto">
                <option value="true" {{ if .filter.OrderAsc }}selected{{ end }}>A → Z</option>
                <option value="false" {{ if not .filter.OrderAsc }}selected{{ end }}>Z → A</option>
            </select>
            </label>
            <label class="ms-3">{{ index .tab "limit" }}
            <select name="limit" class="form-select d-inline w-auto">
                <option value="0" disabled selected>--</option>
                <option value="5" {{ if eq .filter.Limit 5 }}selected{{ end }}>5</option>
                <option value="10" {{ if eq .filter.Limit 10 }}selected{{ end }}>10</option>
                <option value="15" {{ if eq .filter.Limit 15 }}selected{{ end }}>15</option>
                <option value="20" {{ if eq .filter.Limit 20 }}selected{{ end }}>20</option>
                <option value="25" {{ if eq .filter.Limit 25 }}selected{{ end }}>25</option>
            </select>
            </label>
            <label class="ms-3">{{ index .tab "permissions" }}: 
            <select id="permissions" name="permissions" class="form-select d-inline w-auto">
                <option value="" {{ if eq .filter.Permissions "" }}selected{{ end }}>--</option>
                <option value="filterPermissionsTransfers" {{ if eq .filter.Permissions "filterPermissionsTransfers" }}selected{{ end }}>{{ index .tab "transfers" }}</option>
                <option value="filterPermissionsServers" {{ if eq .filter.Permissions "filterPermissionsServers" }}selected{{ end }}>{{ index .tab "servers" }}</option>
                <option value="filterPermissionsPartners" {{ if eq .filter.Permissions "filterPermissionsPartners" }}selected{{ end }}>{{ index .tab "partners" }}</option>
                <option value="filterPermissionsRules" {{ if eq .filter.Permissions "filterPermissionsRules" }}selected{{ end }}>{{ index .tab "rules" }}</option>
                <option value="filterPermissionsUsers" {{ if eq .filter.Permissions "filterPermissionsUsers" }}selected{{ end }}>{{ index .tab "users" }}</option>
                <option value="filterPermissionsAdministration" {{ if eq .filter.Permissions "filterPermissionsAdministration" }}selected{{ end }}>{{ index .tab "administration" }}</option>
            </select>
            <select id="permissionsType" name="permissionsType" class="form-select d-inline w-auto">
                <option value="" {{ if eq .filter.PermissionsType "" }}selected{{ end }}>--</option>
                <option value="permissionsMin" {{ if eq .filter.PermissionsType "permissionsMin" }}selected{{ end }}>Min &lt</option>
                <option value="permissionsEq" {{ if eq .filter.PermissionsType "permissionsEq" }}selected{{ end }}>{{ index .tab "equal" }} =</option>
                <option value="permissionsMax" {{ if eq .filter.PermissionsType "permissionsMax" }}selected{{ end }}>Max &gt</option>
            </select>
            <select id="permissionsValue" name="permissionsValue" class="form-select d-inline w-auto">
                <option value="" {{ if eq .filter.PermissionsValue "" }}selected{{ end }}>--</option>
                <option value="---" {{ if eq .filter.PermissionsValue "---" }}selected{{ end }}>{{ index .tab "none" }}</option>
                <option value="r--" {{ if eq .filter.PermissionsValue "r--" }}selected{{ end }}>R--</option>
                <option value="rw-" {{ if eq .filter.PermissionsValue "rw-" }}selected{{ end }}>RW-</option>
                <option value="rwd" {{ if eq .filter.PermissionsValue "rwd" }}selected{{ end }}>RWD</option>
            </select>
            </label>
            <div style="float:right">
                <button id="applyBtn" type="submit" class="btn btn-success ms-3">{{ index .tab "apply" }}</button>
                <button id="resetBtn" type="button" class="btn btn-secondary ms-1" onclick="window.location='user_management'">{{ index .tab "reset" }}</button>
            </div>
        </form>
        </div>
        <nav class="navbar navbar-light bg-light">
            <input type="hidden" id="pageType" value="users">
            <form method="get" class="d-flex ms-auto position-relative" onsubmit="return true">
                {{ if eq .userFound "false" }}
                    <div class="invalid-feedback d-block mt-2">{{ index .tab "userNotFound" }}</div>
                {{ else if eq .userFound "true" }}
                    <button id="resetBtn" type="button" class="btn btn-secondary me-2 reset-btn" onclick="window.location='user_management'"><i class="bi bi-x fs"></i></button>
                {{ end }}
            <input class="navbar-user form-control {{ if eq .userFound "false" }}is-invalid{{ end }}" type="search" placeholder="{{ index .tab "search" }}" name="search" id="search" autocomplete="off">
            <button class="btn btn-primary ms-2 btn-navbar" type="submit">{{ index .tab "search" }}</button>
            <ul id="autocomplete" class="list-group"></ul>
            </form>
        </nav>

        <table class="table table-sm align-middle mb-4 rounded-3 mt-3">
          <thead class="table-light">
            <tr>
              <th></th>
              <th>{{ index .tab "usernameStr" }}</th>
              <th>{{ index .tab "transfers" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index .tab "tooltipTransfers" }}"></i></th>
              <th>{{ index .tab "servers" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index .tab "tooltipServers" }}"></i></th>
              <th>{{ index .tab "partners" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index .tab "tooltipPartners" }}"></i></th>
              <th>{{ index .tab "rules" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index .tab "tooltipRules" }}"></i></th>
              <th>{{ index .tab "users" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index .tab "tooltipUsers" }}"></i></th>
              <th>{{ index .tab "administration" }} <i class="bi bi-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ index .tab "tooltipAdministration" }}"></i></th>
              <th class="text-end"></th>
            </tr>
          </thead>
          <tbody>
            {{ range .userPermissions }}
            <tr>
              <td><i class="bi bi-person-fill"></i></td>
              <td><strong>{{ .Username }}</strong></td>

              <td>{{ .Permissions.Transfers }}</td>
              <td>{{ .Permissions.Servers }}</td>
              <td>{{ .Permissions.Partners }}</td>
              <td>{{ .Permissions.Rules }}</td>
              <td>{{ .Permissions.Users }}</td>
              <td>{{ .Permissions.Administration }}</td>

              <td class="text-end">
                    {{ if contains $.myPermission.Users "w" }}
                        <button class="btn btn-outline-primary btn-sm me-1" data-bs-toggle="modal" data-bs-target="#editUserModal_{{ .ID }}">
                        <i class="bi bi-pencil"></i>
                        </button>
                        <div class="modal fade" id="editUserModal_{{ .ID }}" tabindex="-1" aria-labelledby="editUserModalLabel_{{ .ID }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <form method="get" class="p-3 border rounded bg-light">
                            <input type="hidden" name="editUserID" value="{{ .ID }}">
                            <div class="modal-header">
                            <h5 class="modal-title" id="editUserModalLabel">{{ index $.tab "edit" }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                            <div class="form-input">
                                <label class="col-form-label">{{ index $.tab "usernameStr" }} :</label>
                                <input type="text" name="editUserUsername" class="form-control" required value="{{ .Username }}">
                            </div>
                            <div class="form-input">
                                <label class="col-form-label mt-2">{{ index $.tab "passwordStr" }} :</label>
                                <div class="input-group">
                                    <input type="password" id="editUserPassword_{{ .ID }}" class="form-control">
                                    <button class="btn btn-outline-secondary eye-button" type="button" onclick="eyePassword('editUserPassword_{{ .ID }}', this)"><i class="far fa-eye-slash"></i></button>
                                </div>
                            </div>
                            <div class="form-input">
                                <label class="col-form-label mt-2">{{ index $.tab "passwordConfirmStr" }} :</label>
                                <div class="input-group">
                                    <input type="password" id="editUserPasswordConfirm_{{ .ID }}" name="editUserPassword" class="form-control">
                                    <button class="btn btn-outline-secondary eye-button" type="button" onclick="eyePassword('editUserPasswordConfirm_{{ .ID }}', this)"><i class="far fa-eye-slash"></i></button>
                                </div>
                            </div>
                            <div class="title-perm mt-3 mb-3"><strong>{{ index $.tab "permissions" }} :</strong></div>
                                <div class="form-group mt-2">
                                    <label class="col-form-label">{{ index $.tab "transfers" }} :</label>
                                    <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="editUserPermissionsTransfers" id="edit_transfers_r" value="r" {{ if (contains .Permissions.Transfers "r") }}checked{{ end }}>
                                    <label class="form-check-label" for="edit_transfers_r">{{ index $.tab "read" }}</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="editUserPermissionsTransfers" id="edit_transfers_w" value="w" {{ if (contains .Permissions.Transfers "w") }}checked{{ end }}>
                                    <label class="form-check-label" for="edit_transfers_w">{{ index $.tab "write" }}</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="editUserPermissionsTransfers" id="edit_transfers_d" value="d" {{ if (contains .Permissions.Transfers "d") }}checked{{ end }}>
                                    <label class="form-check-label" for="edit_transfers_d">{{ index $.tab "delete" }}</label>
                                    </div>
                                </div>
                                <div class="form-group mt-2">
                                    <label class="col-form-label">{{ index $.tab "servers" }} :</label>
                                    <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="editUserPermissionsServers" id="edit_servers_r" value="r" {{ if (contains .Permissions.Servers "r") }}checked{{ end }}>
                                    <label class="form-check-label" for="edit_servers_r">{{ index $.tab "read" }}</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="editUserPermissionsServers" id="edit_servers_w" value="w" {{ if (contains .Permissions.Servers "w") }}checked{{ end }}>
                                    <label class="form-check-label" for="edit_servers_w">{{ index $.tab "write" }}</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="editUserPermissionsServers" id="edit_servers_d" value="d" {{ if (contains .Permissions.Servers "d") }}checked{{ end }}>
                                    <label class="form-check-label" for="edit_servers_d">{{ index $.tab "delete" }}</label>
                                    </div>
                                </div>
                                <div class="form-group mt-2">
                                    <label class="col-form-label">{{ index $.tab "partners" }} :</label>
                                    <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="editUserPermissionsPartners" id="edit_partners_r" value="r" {{ if (contains .Permissions.Partners "r") }}checked{{ end }}>
                                    <label class="form-check-label" for="edit_partners_r">{{ index $.tab "read" }}</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="editUserPermissionsPartners" id="edit_partners_w" value="w" {{ if (contains .Permissions.Partners "w") }}checked{{ end }}>
                                    <label class="form-check-label" for="edit_partners_w">{{ index $.tab "write" }}</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="editUserPermissionsPartners" id="edit_partners_d" value="d" {{ if (contains .Permissions.Partners "d") }}checked{{ end }}>
                                    <label class="form-check-label" for="edit_partners_d">{{ index $.tab "delete" }}</label>
                                    </div>
                                </div>
                                <div class="form-group mt-2">
                                    <label class="col-form-label">{{ index $.tab "rules" }} :</label>
                                    <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="editUserPermissionsRules" id="edit_rules_r" value="r" {{ if (contains .Permissions.Rules "r") }}checked{{ end }}>
                                    <label class="form-check-label" for="edit_rules_r">{{ index $.tab "read" }}</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="editUserPermissionsRules" id="edit_rules_w" value="w" {{ if (contains .Permissions.Rules "w") }}checked{{ end }}>
                                    <label class="form-check-label" for="edit_rules_w">{{ index $.tab "write" }}</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="editUserPermissionsRules" id="edit_rules_d" value="d" {{ if (contains .Permissions.Rules "d") }}checked{{ end }}>
                                    <label class="form-check-label" for="edit_rules_d">{{ index $.tab "delete" }}</label>
                                    </div>
                                </div>
                                <div class="form-group mt-2">
                                    <label class="col-form-label">{{ index $.tab "users" }} :</label>
                                    <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="editUserPermissionsUsers" id="edit_users_r" value="r" {{ if (contains .Permissions.Users "r") }}checked{{ end }}>
                                    <label class="form-check-label" for="edit_users_r">{{ index $.tab "read" }}</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="editUserPermissionsUsers" id="edit_users_w" value="w" {{ if (contains .Permissions.Users "w") }}checked{{ end }}>
                                    <label class="form-check-label" for="edit_users_w">{{ index $.tab "write" }}</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="editUserPermissionsUsers" id="edit_users_d" value="d" {{ if (contains .Permissions.Users "d") }}checked{{ end }}>
                                    <label class="form-check-label" for="edit_users_d">{{ index $.tab "delete" }}</label>
                                    </div>
                                </div>
                                <div class="form-group mt-2">
                                    <label class="col-form-label">{{ index $.tab "administration" }} :</label>
                                    <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="editUserPermissionsAdministration" id="edit_administration_r" value="r" {{ if (contains .Permissions.Administration "r") }}checked{{ end }}>
                                    <label class="form-check-label" for="edit_administration_r">{{ index $.tab "read" }}</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="editUserPermissionsAdministration" id="edit_administration_w" value="w" {{ if (contains .Permissions.Administration "w") }}checked{{ end }}>
                                    <label class="form-check-label" for="edit_administration_w">{{ index $.tab "write" }}</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="editUserPermissionsAdministration" id="edit_administration_d" value="d" {{ if (contains .Permissions.Administration "d") }}checked{{ end }}>
                                    <label class="form-check-label" for="edit_administration_d">{{ index $.tab "delete" }}</label>
                                    </div>
                                </div>
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ index $.tab "close" }}</button>
                                <button type="submit" class="btn btn-success ms-3" onclick="confirmPassword('editUserPassword_{{ .ID }}', 'editUserPasswordConfirm_{{ .ID }}', '{{ $.language }}')">{{ index $.tab "apply" }}</button>
                                </div>
                            </form>
                            </div>
                        </div>
                        </div>
                    {{ end }}
                {{ if contains $.myPermission.Users "d" }}
                <form method="get" class="d-inline">
                  <input type="hidden" name="deleteUser" value="{{ .ID }}">
                  <button type="submit" class="btn btn-outline-danger btn-sm" onclick="return confirm('{{ index $.tab "confirmDelete" }}')">
                    <i class="bi bi-trash"></i>
                  </button>
                </form>
                {{ end }}
              </td>
            </tr>
            {{ end }}
          </tbody>
        </table>
        <form method="get">
                <ul class="pagination">
                    <input type="hidden" name="orderAsc" value="{{ .filter.OrderAsc }}">
                    <input type="hidden" name="limit" value="{{ .filter.Limit }}">
                    <input type="hidden" name="offset" value="{{ .filter.Offset }}">
                    <input type="hidden" name="permissions" value="{{ .filter.Permissions }}">
                    <input type="hidden" name="permissionsType" value="{{ .filter.PermissionsType }}">
                    <input type="hidden" name="permissionsValue" value="{{ .filter.PermissionsValue }}">
                    <li class="page-item {{ if .filter.DisablePrevious }}disabled{{ end }}"><button class="page-link" name="previous" type="submit" value="true">{{ index .tab "previous" }}</button></li>
                    <li class="page-item"><button class="page-link disabled">{{ .currentPage }}</button></li>
                    <li class="page-item {{ if .filter.DisableNext }}disabled{{ end }}"><button class="page-link" name="next" type="submit" value="true">{{ index .tab "next" }}</button></li>
                </ul>
        </form>
    </div>
    {{ else }}
    <div class="row justify-content-center mb-4">
        <div class="col-sm-8 col-md-6 col-lg-4">
            <div class="card text-center p-3 mx-auto">
                <i class="bi bi-person-fill fs-2"></i>
                <div><strong>{{ .username }}</strong></div>
                <div class="mt-2 mb-2"><i>{{ index .tab "permissions" }} :</i></div>
                <div>{{ index .tab "transfers" }}: {{ .myPermission.Transfers }}</div>
                <div>{{ index .tab "servers" }}: {{ .myPermission.Servers }}</div>
                <div>{{ index .tab "partners" }}: {{ .myPermission.Partners }}</div>
                <div>{{ index .tab "rules" }}: {{ .myPermission.Rules }}</div>
                <div>{{ index .tab "users" }}: {{ .myPermission.Users }}</div>
                <div>{{ index .tab "administration" }}: {{ .myPermission.Administration }}</div>
            </div>
            </div>
        </div>
    {{ end }}
{{ end }}

{{ define "user_management_page" }}
  {{ template "index" . }}
{{ end }}