package login

import (
	"github.com/templui/templui/components/button"
	"github.com/templui/templui/components/card"
	"github.com/templui/templui/components/dropdown"
	"github.com/templui/templui/components/form"
	"github.com/templui/templui/components/icon"
	"github.com/templui/templui/components/input"
	"github.com/templui/templui/components/toast"

	"code.waarp.fr/apps/gateway/gateway/pkg/admin/webui/internal/common"
	"code.waarp.fr/apps/gateway/gateway/pkg/admin/webui/internal/translations"
)

templ Login(printer *translations.Printer, errMsg string) {
	<head>
		<title>Waarp Gateway - { printer.Sprintf("Login") }</title>
		@common.Theming()
		@input.Script()
		@dropdown.Script()
		@toast.Script()
	</head>
	<body class="bg-background flex min-h-screen items-center justify-center">
		<div class="fixed top-4 right-4 flex items-center gap-1
		    [&_button]:h-10 [&_button_svg]:!size-5">
			@button.Button(button.Props{
				Attributes: templ.Attributes{"onclick": "toggleTheme()"},
			}) {
				@icon.Sun(icon.Props{Class: "hidden dark:block"})
				@icon.Moon(icon.Props{Class: "dark:hidden"})
			}
		    @dropdown.Dropdown() {
                @dropdown.Trigger() {
                    @button.Button() {
                        @icon.Languages()
                        { printer.Language }
                        @icon.ChevronDown()
                    }
                }
                @dropdown.Content(dropdown.ContentProps{Class: "min-w-31"}) {
                    @common.LanguageSelectorItems(printer)
                }
            }
		</div>
		<div class="w-full max-w-sm px-4">
			@card.Card() {
				@card.Header() {
					<img src="/assets/img/banner.png" class="w-full dark:hidden" alt="Waarp Banner"/>
					<img src="/assets/img/banner-dark.png" class="w-full hidden dark:block" alt="Waarp Banner"/>
					@card.Description() {
						{ printer.Sprintf("Enter your credentials to access the Gateway") }
					}
				}
				@card.Content() {
					<form method="POST" class="flex flex-col gap-4">
						@form.Item() {
							@form.Label(form.LabelProps{For: "username"}) {
								{ printer.Sprintf("Username") }
							}
							@input.Input(input.Props{
								ID:          "username",
								Name:        "username",
								Type:        input.TypeText,
								Placeholder: printer.Sprintf("Enter your username"),
								Required:    true,
							})
						}
						@form.Item() {
							@form.Label(form.LabelProps{For: "password"}) {
								{ printer.Sprintf("Password") }
							}
							@input.Input(input.Props{
								ID:          "password",
								Name:        "password",
								Type:        input.TypePassword,
								Placeholder: printer.Sprintf("Enter your password"),
								Required:    true,
							})
						}
						@button.Button(button.Props{
							Type:      "submit",
							FullWidth: true,
						}) {
							{ printer.Sprintf("Sign in") }
						}
					</form>
				}
			}
		</div>
		if errMsg != "" {
		    @toast.Toast(toast.Props{
		        Description: errMsg,
		        Variant: toast.VariantError,
		        Dismissible: true,
		        Position: toast.PositionBottomCenter,
		        Icon: true,
		    })
		}
	</body>
}
