
.form-control {
    border-radius: 17px;
}

.btn-connexion {
  background-color: #f54b15;
  color: white;
  border-radius: 17px;
}

.btn-connexion:hover,
.btn-connexion:focus {
  background-color: #fff;
  color: #f54b15 !important;
  transition: background 0.5s, color 1.0s;
  border-radius: 17px;
  box-shadow: 0 6px 18px rgba(200, 199, 199, 0.25);
}

.forgot-link {
  color: #000000 !important;
}

.forgot-link:hover,
.forgot-link:focus {
  color: #434343 !important;
    transition: color 0.3s;
}

.error-animated {
    animation: shake 0.5s ease-in-out;
    border: 1px solid red;
    border-radius: 17px;
}

@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-1%); }
  40% { transform: translateX(1%); }
  60% { transform: translateX(-1%); }
  80% { transform: translateX(1%); }
  100% { transform: translateX(0); }
}
