.select-lang {
  background: #f54b15;
  color: #fff;
  border: none;
  border-radius: 13px;
  padding: 0.375rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  appearance: none;
  text-align: center;
}

.select-lang:hover,
.select-lang:focus {
  background: #fff;
  color: #f54b15;
  outline: none;
  transition: background 0.2s, color 0.2s;
  border-radius: 13px;
}
