.btn-navbar {
    background-color: #f54b15 !important;
    border-color: #f54b15 !important;
    color: #fff !important;
    border-radius: 17px;
}

.btn-navbar:hover, .btn-navbar:focus {
    background-color: #eb3700 !important;
    border-color: #eb3700 !important;
    color: #fff !important;
}

.btn-filter, .btn-add {
    background-color: #f54b15 !important;
    border-color: #f54b15 !important;
    color: #fff !important;
    border-radius: 10px;
}
.btn-filter:hover, .btn-add:hover, .btn-filter:focus, .btn-add:focus {
    background-color: #eb3700 !important;
    border-color: #eb3700 !important;
    color: #fff !important;
}

.modal-backdrop.show {
  backdrop-filter: blur(10px);
  opacity: 7;
  background-color: rgba(0,0,0,0.1) !important;
}

.modal-body .form-input{
    text-align:left;
}

.modal-body .title-perm {
    text-align:left;
}

.modal-body .form-group{
  display:flex;
  align-items:center;
}

.modal-body .form-group label{
  flex:0 0 30%;
  text-align:left;
}

.modal-body .form-group .form-select{
  flex:0 0 70%;
}

.table-outline {
  border: 2px solid grey
}

.navbar-user {
  border-radius: 17px !important;
}